Compiled_v2.json
[
    {
        "id": "f52f0411d560d0ad",
        "type": "tab",
        "label": "Disguise - Casey",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dcb92224751f8a55",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Get Active Transport",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 300,
        "wires": [
            [
                "3fe968c1d3f45ab0"
            ]
        ]
    },
    {
        "id": "3fe968c1d3f45ab0",
        "type": "json",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "d204069c986d463e"
            ]
        ]
    },
    {
        "id": "bccebe339078a504",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Get Transport Annotations",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1480,
        "y": 420,
        "wires": [
            [
                "21c5b94ed4554141"
            ]
        ]
    },
    {
        "id": "21c5b94ed4554141",
        "type": "json",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1690,
        "y": 420,
        "wires": [
            [
                "25fe262575547e81"
            ]
        ]
    },
    {
        "id": "f32c4c5c9f80320b",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Get name of current track.",
        "info": "",
        "x": 950,
        "y": 240,
        "wires": []
    },
    {
        "id": "4a9d2835a916cf29",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Get all Notes, Tags, and Sections in current track.",
        "info": "",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "bb6dd8c8ae80e824",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Health checkup.",
        "info": "",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "1c54692a20cf38e1",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Get Health",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 700,
        "wires": [
            [
                "4c60f3b0f46269ce"
            ]
        ]
    },
    {
        "id": "4c60f3b0f46269ce",
        "type": "json",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "81b79d91b684bfe7",
                "3e9b7b85f70bc014",
                "95ed6508cff0193b",
                "5ae5599742320f35"
            ]
        ]
    },
    {
        "id": "9470ea7293d74e4f",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Get Project.",
        "info": "",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "c64cf1bf4239d004",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Get Project",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 580,
        "wires": [
            [
                "e9f6d14dbfcf4e51"
            ]
        ]
    },
    {
        "id": "e9f6d14dbfcf4e51",
        "type": "json",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "5367962c3eba2651"
            ]
        ]
    },
    {
        "id": "1cb799f33128d3af",
        "type": "reusable-in",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "66ed548dcf8330cb"
            ]
        ]
    },
    {
        "id": "ef410c639c3770c7",
        "type": "reusable-out",
        "z": "f52f0411d560d0ad",
        "name": "reusable out",
        "position": 1,
        "x": 1050,
        "y": 920,
        "wires": []
    },
    {
        "id": "8eb280bccf9364b0",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IP",
                "pt": "msg",
                "to": "directorip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 920,
        "wires": [
            [
                "ef410c639c3770c7"
            ]
        ]
    },
    {
        "id": "056cc44effb7bdb7",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Get specified Director IP.",
        "info": "",
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "b3be25a4499d867c",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "fc07558bdab6e4ed"
            ]
        ],
        "outputLabels": [
            "reusable out"
        ]
    },
    {
        "id": "fc07558bdab6e4ed",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/activetransport",
        "output": "str",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "dcb92224751f8a55"
            ]
        ]
    },
    {
        "id": "ec6e54d0e004a5c1",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 1060,
        "y": 420,
        "wires": [
            [
                "80cf35222477c2e7"
            ]
        ]
    },
    {
        "id": "80cf35222477c2e7",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/annotations",
        "output": "str",
        "x": 1240,
        "y": 420,
        "wires": [
            [
                "bccebe339078a504"
            ]
        ]
    },
    {
        "id": "a43c0252959d1d06",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "68625f4183015b98"
            ]
        ]
    },
    {
        "id": "68625f4183015b98",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/status/health",
        "output": "str",
        "x": 760,
        "y": 700,
        "wires": [
            [
                "1c54692a20cf38e1"
            ]
        ]
    },
    {
        "id": "97db5e2182acaff9",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "b1c62378f7118fd2"
            ]
        ],
        "outputLabels": [
            "reusable out"
        ]
    },
    {
        "id": "b1c62378f7118fd2",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/status/project",
        "output": "str",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "c64cf1bf4239d004"
            ]
        ]
    },
    {
        "id": "4bf2ba9c8f0bbbb1",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Get RenderStream Layers",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 1820,
        "wires": [
            [
                "4434badbf2d611a5"
            ]
        ]
    },
    {
        "id": "4434badbf2d611a5",
        "type": "json",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 1820,
        "wires": [
            [
                "2aa53ccb493ba705"
            ]
        ]
    },
    {
        "id": "e00be0d460bf1335",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Get RenderStream Layer List",
        "info": "",
        "x": 820,
        "y": 1760,
        "wires": []
    },
    {
        "id": "39cdd1f4b4960102",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "11d6216c77365dc3"
            ]
        ]
    },
    {
        "id": "11d6216c77365dc3",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layers",
        "output": "str",
        "x": 720,
        "y": 1820,
        "wires": [
            [
                "4bf2ba9c8f0bbbb1"
            ]
        ]
    },
    {
        "id": "645cad7ff95ff3cd",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "bc7f8265dfa4c579"
            ]
        ]
    },
    {
        "id": "9aa0709329cab3b2",
        "type": "reusable-in",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "0a09f4055a7f4287"
            ]
        ]
    },
    {
        "id": "6fcc987c833f526c",
        "type": "reusable-out",
        "z": "f52f0411d560d0ad",
        "name": "reusable out",
        "position": 1,
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "fe2b9809068fa98b",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Get OSC Info for Transport Control",
        "info": "",
        "x": 840,
        "y": 760,
        "wires": []
    },
    {
        "id": "6f829ab0ebb844ee",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "oscport",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 820,
        "wires": [
            [
                "6fcc987c833f526c"
            ]
        ]
    },
    {
        "id": "14fd52c9a3f48872",
        "type": "udp out",
        "z": "f52f0411d560d0ad",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "bc7f8265dfa4c579",
        "type": "osc",
        "z": "f52f0411d560d0ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "14fd52c9a3f48872",
                "db9c0c45ac016fe9",
                "193cb74df9c7185c"
            ]
        ]
    },
    {
        "id": "a0fa842c917c2f26",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Play current track through.",
        "info": "",
        "x": 870,
        "y": 960,
        "wires": []
    },
    {
        "id": "32dc25fc8f95cff7",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1160,
        "wires": [
            [
                "e8401a156356ec5c"
            ]
        ]
    },
    {
        "id": "25ff333dd8728080",
        "type": "udp out",
        "z": "f52f0411d560d0ad",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e8401a156356ec5c",
        "type": "osc",
        "z": "f52f0411d560d0ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "25ff333dd8728080"
            ]
        ]
    },
    {
        "id": "84ea5da1c386fb86",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Stop current track.",
        "info": "",
        "x": 870,
        "y": 1120,
        "wires": []
    },
    {
        "id": "c250b3fd56d0677c",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1240,
        "wires": [
            [
                "5bea25e3d64cf54b"
            ]
        ]
    },
    {
        "id": "692cbd347d01ce3f",
        "type": "udp out",
        "z": "f52f0411d560d0ad",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5bea25e3d64cf54b",
        "type": "osc",
        "z": "f52f0411d560d0ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1240,
        "wires": [
            [
                "692cbd347d01ce3f"
            ]
        ]
    },
    {
        "id": "ecc77f8aae8a11cc",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Fade down.",
        "info": "",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "bf5909ed02331101",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1320,
        "wires": [
            [
                "296b5a0ebabb3aed"
            ]
        ]
    },
    {
        "id": "d93ebec50705c2e2",
        "type": "udp out",
        "z": "f52f0411d560d0ad",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1320,
        "wires": []
    },
    {
        "id": "296b5a0ebabb3aed",
        "type": "osc",
        "z": "f52f0411d560d0ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1320,
        "wires": [
            [
                "d93ebec50705c2e2"
            ]
        ]
    },
    {
        "id": "e0594a3a88783785",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Fade up.",
        "info": "",
        "x": 820,
        "y": 1280,
        "wires": []
    },
    {
        "id": "bd89f0f41aa47a28",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1500,
        "wires": [
            [
                "329ef57be46bb666"
            ]
        ]
    },
    {
        "id": "045a1a12ad94e31a",
        "type": "udp out",
        "z": "f52f0411d560d0ad",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1500,
        "wires": []
    },
    {
        "id": "329ef57be46bb666",
        "type": "osc",
        "z": "f52f0411d560d0ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1500,
        "wires": [
            [
                "045a1a12ad94e31a"
            ]
        ]
    },
    {
        "id": "74b7c05e86187184",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Next section.",
        "info": "",
        "x": 830,
        "y": 1460,
        "wires": []
    },
    {
        "id": "0434190be1476d4e",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1580,
        "wires": [
            [
                "904ff2897a25d90b"
            ]
        ]
    },
    {
        "id": "5f8ad91e1e8defd2",
        "type": "udp out",
        "z": "f52f0411d560d0ad",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1580,
        "wires": []
    },
    {
        "id": "904ff2897a25d90b",
        "type": "osc",
        "z": "f52f0411d560d0ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1580,
        "wires": [
            [
                "5f8ad91e1e8defd2"
            ]
        ]
    },
    {
        "id": "d39178b897a0a9d6",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Previous section.",
        "info": "",
        "x": 840,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7455724254e6cce9",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1400,
        "wires": [
            [
                "cce864386025a6de"
            ]
        ]
    },
    {
        "id": "db49a67fc30eee41",
        "type": "udp out",
        "z": "f52f0411d560d0ad",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1400,
        "wires": []
    },
    {
        "id": "cce864386025a6de",
        "type": "osc",
        "z": "f52f0411d560d0ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1400,
        "wires": [
            [
                "db49a67fc30eee41"
            ]
        ]
    },
    {
        "id": "0d2b1cfcb5eee496",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Hold.",
        "info": "",
        "x": 810,
        "y": 1360,
        "wires": []
    },
    {
        "id": "93af72f0c6a5e425",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "90c0f103fb391caf"
            ]
        ]
    },
    {
        "id": "13327ccdd439ade8",
        "type": "udp out",
        "z": "f52f0411d560d0ad",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "90c0f103fb391caf",
        "type": "osc",
        "z": "f52f0411d560d0ad",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "13327ccdd439ade8"
            ]
        ]
    },
    {
        "id": "099a52fdfe99cbf1",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Play current track to end of section.",
        "info": "",
        "x": 900,
        "y": 1040,
        "wires": []
    },
    {
        "id": "8915996729ad9a3a",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Start Renderstream",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1390,
        "y": 2140,
        "wires": [
            []
        ]
    },
    {
        "id": "7ba4ccc91502caae",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Start RenderStream workload.",
        "info": "",
        "x": 880,
        "y": 2080,
        "wires": []
    },
    {
        "id": "c18b4155f546b5a9",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 600,
        "y": 2140,
        "wires": [
            [
                "41840ec7b7d40474"
            ]
        ]
    },
    {
        "id": "15beed5118ae1801",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/startlayers",
        "output": "str",
        "x": 1160,
        "y": 2140,
        "wires": [
            [
                "8915996729ad9a3a"
            ]
        ]
    },
    {
        "id": "dcab5961f2ce1e0b",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Stop Renderstream",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1410,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "faa9f5f7e34a5c2d",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Stop RenderStream workload.",
        "info": "",
        "x": 880,
        "y": 2200,
        "wires": []
    },
    {
        "id": "33302c49f14e32fb",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 600,
        "y": 2260,
        "wires": [
            [
                "e67d14ac1812554a"
            ]
        ]
    },
    {
        "id": "b8aff69c43e0bece",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/stoplayers",
        "output": "str",
        "x": 1160,
        "y": 2260,
        "wires": [
            [
                "dcab5961f2ce1e0b"
            ]
        ]
    },
    {
        "id": "69187cf47aa31af0",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Get RenderStream Layer Status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 1920,
        "wires": [
            [
                "c8e5383c8af2d061"
            ]
        ]
    },
    {
        "id": "a9419a4fc93780e0",
        "type": "debug",
        "z": "f52f0411d560d0ad",
        "name": "Layer Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 1920,
        "wires": []
    },
    {
        "id": "c8e5383c8af2d061",
        "type": "json",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 1920,
        "wires": [
            [
                "a9419a4fc93780e0"
            ]
        ]
    },
    {
        "id": "5bbbbc173568ae5a",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Get RenderStream Layer Status",
        "info": "",
        "x": 1150,
        "y": 1880,
        "wires": []
    },
    {
        "id": "231ef4a24fd40c01",
        "type": "reusable",
        "z": "f52f0411d560d0ad",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 560,
        "y": 1920,
        "wires": [
            [
                "f7134abf71454ea3"
            ]
        ]
    },
    {
        "id": "2cb572c12229cd33",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layerstatus?uid={{uid}}",
        "output": "str",
        "x": 920,
        "y": 1920,
        "wires": [
            [
                "69187cf47aa31af0"
            ]
        ]
    },
    {
        "id": "f7134abf71454ea3",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "uid",
                "pt": "msg",
                "to": "renderstreamuid",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1920,
        "wires": [
            [
                "2cb572c12229cd33",
                "dc51cb26d87d36bf"
            ]
        ]
    },
    {
        "id": "225703773348a37d",
        "type": "http request",
        "z": "f52f0411d560d0ad",
        "name": "Get RenderStream Layer Config",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 2020,
        "wires": [
            [
                "3c9a40bff1006308"
            ]
        ]
    },
    {
        "id": "3c9a40bff1006308",
        "type": "json",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 2020,
        "wires": [
            [
                "91f9640138a2d35d"
            ]
        ]
    },
    {
        "id": "a0ea8d3f70c1612f",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Get RenderStream Layer Config Info",
        "info": "",
        "x": 1140,
        "y": 1980,
        "wires": []
    },
    {
        "id": "dc51cb26d87d36bf",
        "type": "template",
        "z": "f52f0411d560d0ad",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layerconfig?uid={{uid}}",
        "output": "str",
        "x": 920,
        "y": 2020,
        "wires": [
            [
                "225703773348a37d"
            ]
        ]
    },
    {
        "id": "11e37d4c44d305f4",
        "type": "inject",
        "z": "f52f0411d560d0ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "d726d8ad0bca6688"
            ]
        ]
    },
    {
        "id": "694c1dcad98bb24a",
        "type": "ui_text",
        "z": "f52f0411d560d0ad",
        "group": "37face5d7e0eb519",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Current Track",
        "format": "{{msg.payload.result[0].currentTrack.name}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1740,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4d1d9ba5e42c0b7",
        "type": "ui_dropdown",
        "z": "f52f0411d560d0ad",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "6161fff3474f61ab",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2140,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "25fe262575547e81",
        "type": "function",
        "z": "f52f0411d560d0ad",
        "name": "Set Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.annotations.notes.length; i++) {\n    annot.push(msg.payload.result.annotations.notes[i].text);\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1920,
        "y": 420,
        "wires": [
            [
                "f4d1d9ba5e42c0b7"
            ]
        ]
    },
    {
        "id": "d204069c986d463e",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload.result[0].currentTrack.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "track",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 300,
        "wires": [
            [],
            [
                "8de52c8e255f9335"
            ]
        ]
    },
    {
        "id": "8de52c8e255f9335",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "Set global.track",
        "rules": [
            {
                "t": "set",
                "p": "track",
                "pt": "global",
                "to": "payload.result[0].currentTrack.name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1520,
        "y": 320,
        "wires": [
            [
                "694c1dcad98bb24a"
            ]
        ]
    },
    {
        "id": "d7aa49e67ac26857",
        "type": "inject",
        "z": "f52f0411d560d0ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "x": 690,
        "y": 460,
        "wires": [
            [
                "ecd304ba2c83b35c"
            ]
        ]
    },
    {
        "id": "2971538013323535",
        "type": "ui_text",
        "z": "f52f0411d560d0ad",
        "group": "37face5d7e0eb519",
        "order": 1,
        "width": "4",
        "height": "3",
        "name": "",
        "label": "Current Project",
        "format": "Name: {{msg.payload.result.projectPath}} <br/> Version: {{payload.result.version.major}}.{{payload.result.version.minor}}.{{payload.result.version.hotfix}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1800,
        "y": 540,
        "wires": []
    },
    {
        "id": "5367962c3eba2651",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload.result.projectPath",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "project",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 560,
        "wires": [
            [],
            [
                "e26ffd522f66761d"
            ]
        ]
    },
    {
        "id": "e26ffd522f66761d",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "Set global.project",
        "rules": [
            {
                "t": "set",
                "p": "project",
                "pt": "global",
                "to": "payload.result.projectPath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 540,
        "wires": [
            [
                "2971538013323535"
            ]
        ]
    },
    {
        "id": "81b79d91b684bfe7",
        "type": "ui_text",
        "z": "f52f0411d560d0ad",
        "group": "a476bfcbd891ce28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Machine Name",
        "format": "{{msg.payload.result[0].machine.name}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 620,
        "wires": []
    },
    {
        "id": "95ed6508cff0193b",
        "type": "ui_text",
        "z": "f52f0411d560d0ad",
        "group": "a476bfcbd891ce28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Video Dropped Frames",
        "format": "{{msg.payload.result[0].status.videoDroppedFrames}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "3e9b7b85f70bc014",
        "type": "ui_text",
        "z": "f52f0411d560d0ad",
        "group": "a476bfcbd891ce28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Average FPS",
        "format": "{{msg.payload.result[0].status.averageFPS}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "5ae5599742320f35",
        "type": "ui_text",
        "z": "f52f0411d560d0ad",
        "group": "a476bfcbd891ce28",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Video Missed Frames",
        "format": "{{msg.payload.result[0].status.videoMissedFrames}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1400,
        "y": 740,
        "wires": []
    },
    {
        "id": "6edb8d400d7f0ff1",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "6161fff3474f61ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 680,
        "y": 420,
        "wires": [
            [
                "ecd304ba2c83b35c"
            ]
        ]
    },
    {
        "id": "faf65ac3d7384e6d",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "762c963021ed03c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play Track Through",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/play",
        "topicType": "str",
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "13b9dac75690da92"
            ]
        ]
    },
    {
        "id": "fa1a2a0a3c19820e",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "762c963021ed03c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play Track To End Of Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/playsection",
        "topicType": "str",
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "bf1bc657cd3cc653"
            ]
        ]
    },
    {
        "id": "d92b727d0db82aa0",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "762c963021ed03c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Current Track",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/stop",
        "topicType": "str",
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "d663694d1edff4e7"
            ]
        ]
    },
    {
        "id": "7f76dfce92e2a702",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "762c963021ed03c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fade Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/fadedown",
        "topicType": "str",
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "43a824d561f1a68c"
            ]
        ]
    },
    {
        "id": "3cfcd5852aa80ec2",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "762c963021ed03c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fade Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/fadeup",
        "topicType": "str",
        "x": 400,
        "y": 1320,
        "wires": [
            [
                "a08166871690c57f"
            ]
        ]
    },
    {
        "id": "55dbcb50644f493b",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "762c963021ed03c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hold",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/hold",
        "topicType": "str",
        "x": 430,
        "y": 1400,
        "wires": [
            [
                "8e753656ca16bb2c"
            ]
        ]
    },
    {
        "id": "2da091905bfbc5e9",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "762c963021ed03c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Next Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/nextsection",
        "topicType": "str",
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "a1790144b7214b0d"
            ]
        ]
    },
    {
        "id": "656e57753ab50b6d",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "762c963021ed03c8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Previous Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/previoussection",
        "topicType": "str",
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "739cc2ed6e7e84ac"
            ]
        ]
    },
    {
        "id": "c904f04a96a8b6c6",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "directorip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 820,
        "wires": [
            [
                "6f829ab0ebb844ee"
            ]
        ]
    },
    {
        "id": "46fd1e9794e3bff8",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "MULTI TRANSPORT NOTE",
        "info": "If you have multiple transports running,\nthis currently only returns the track of\nthe topmost layer. However, using \"Force\nRefresh\" can give you the sections of the\ncurrent active timeline track.",
        "x": 1200,
        "y": 240,
        "wires": []
    },
    {
        "id": "db9c0c45ac016fe9",
        "type": "debug",
        "z": "f52f0411d560d0ad",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "port",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 860,
        "wires": []
    },
    {
        "id": "193cb74df9c7185c",
        "type": "debug",
        "z": "f52f0411d560d0ad",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ip",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 900,
        "wires": []
    },
    {
        "id": "98fe117cc5837453",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "Set global.oscport",
        "rules": [
            {
                "t": "set",
                "p": "oscport",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "a54632aa2b8998ae",
        "type": "ui_text_input",
        "z": "f52f0411d560d0ad",
        "name": "",
        "label": "OSC Port",
        "tooltip": "",
        "group": "b7fbaaeb035666ea",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1600,
        "y": 920,
        "wires": [
            [
                "98fe117cc5837453"
            ]
        ]
    },
    {
        "id": "4ce40675eab4c0c2",
        "type": "ui_text_input",
        "z": "f52f0411d560d0ad",
        "name": "",
        "label": "Director IP",
        "tooltip": "",
        "group": "b7fbaaeb035666ea",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1610,
        "y": 860,
        "wires": [
            [
                "2d9bcc3e117ed5d3"
            ]
        ]
    },
    {
        "id": "2d9bcc3e117ed5d3",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "Set global.directorip",
        "rules": [
            {
                "t": "set",
                "p": "directorip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f23c43ccf2145a61",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "Setup Input Text Boxes",
        "info": "",
        "x": 1700,
        "y": 800,
        "wires": []
    },
    {
        "id": "3fd678948c26899c",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "1e808e97908e0b1e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/previoussection",
        "topicType": "str",
        "x": 140,
        "y": 1840,
        "wires": [
            [
                "1ca1ce159bbed27f"
            ]
        ]
    },
    {
        "id": "4df5459864292f9f",
        "type": "ui_dropdown",
        "z": "f52f0411d560d0ad",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "1e808e97908e0b1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1560,
        "y": 1740,
        "wires": [
            [
                "6918b076b12c14bf"
            ]
        ]
    },
    {
        "id": "2aa53ccb493ba705",
        "type": "function",
        "z": "f52f0411d560d0ad",
        "name": "Set Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.length; i++) {\n    annot.push({[msg.payload.result[i].name]: msg.payload.result[i].uid});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1740,
        "wires": [
            [
                "4df5459864292f9f"
            ]
        ]
    },
    {
        "id": "6918b076b12c14bf",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "renderstreamuid",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "91f9640138a2d35d",
        "type": "debug",
        "z": "f52f0411d560d0ad",
        "name": "Layer Config",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1530,
        "y": 2020,
        "wires": []
    },
    {
        "id": "e67d14ac1812554a",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.layers",
                "pt": "msg",
                "to": "{\"uid\": global.renderstreamuid}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 2260,
        "wires": [
            [
                "b8aff69c43e0bece"
            ]
        ]
    },
    {
        "id": "41840ec7b7d40474",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.layers",
                "pt": "msg",
                "to": "{\"uid\": global.renderstreamuid}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 2140,
        "wires": [
            [
                "15beed5118ae1801"
            ]
        ]
    },
    {
        "id": "8348c08e4f8757d1",
        "type": "link in",
        "z": "f52f0411d560d0ad",
        "name": "",
        "links": [
            "8fde0fe7f43d2c5b"
        ],
        "x": 355,
        "y": 400,
        "wires": [
            [
                "b3be25a4499d867c"
            ]
        ]
    },
    {
        "id": "b8766401ef903199",
        "type": "link in",
        "z": "f52f0411d560d0ad",
        "name": "link in 3",
        "links": [
            "8fde0fe7f43d2c5b"
        ],
        "x": 185,
        "y": 640,
        "wires": [
            [
                "84f873e392d64fa5"
            ]
        ]
    },
    {
        "id": "cb73f6d3923a15d6",
        "type": "link in",
        "z": "f52f0411d560d0ad",
        "name": "link in 4",
        "links": [
            "8fde0fe7f43d2c5b"
        ],
        "x": 175,
        "y": 760,
        "wires": [
            [
                "2d79ea5538316007"
            ]
        ]
    },
    {
        "id": "51a32402f94e66e3",
        "type": "link in",
        "z": "f52f0411d560d0ad",
        "name": "link in 5",
        "links": [
            "8fde0fe7f43d2c5b"
        ],
        "x": 165,
        "y": 1740,
        "wires": [
            [
                "1ca1ce159bbed27f"
            ]
        ]
    },
    {
        "id": "eac1c22572b54dc0",
        "type": "link in",
        "z": "f52f0411d560d0ad",
        "name": "link in 6",
        "links": [
            "8fde0fe7f43d2c5b"
        ],
        "x": 165,
        "y": 1980,
        "wires": [
            [
                "989c2c71f17bb121"
            ]
        ]
    },
    {
        "id": "68288181643d4ad8",
        "type": "link in",
        "z": "f52f0411d560d0ad",
        "name": "link in 7",
        "links": [
            "8fde0fe7f43d2c5b"
        ],
        "x": 215,
        "y": 2200,
        "wires": [
            [
                "03ca3d422b3a4409"
            ]
        ]
    },
    {
        "id": "81b9c0345bde4b03",
        "type": "link in",
        "z": "f52f0411d560d0ad",
        "name": "link in 8",
        "links": [
            "8fde0fe7f43d2c5b"
        ],
        "x": 255,
        "y": 2320,
        "wires": [
            [
                "5ee4aadd1ef72cb5"
            ]
        ]
    },
    {
        "id": "d726d8ad0bca6688",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "b3be25a4499d867c"
            ]
        ]
    },
    {
        "id": "7aa065ffe468e974",
        "type": "inject",
        "z": "f52f0411d560d0ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "2188f104657fb534"
            ]
        ]
    },
    {
        "id": "cbc4cbc0e79cb206",
        "type": "comment",
        "z": "f52f0411d560d0ad",
        "name": "We're not running at the start",
        "info": "",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "2188f104657fb534",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ecd304ba2c83b35c",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 420,
        "wires": [
            [
                "ec6e54d0e004a5c1"
            ]
        ]
    },
    {
        "id": "84f873e392d64fa5",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "97db5e2182acaff9"
            ]
        ]
    },
    {
        "id": "2d79ea5538316007",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "a43c0252959d1d06"
            ]
        ]
    },
    {
        "id": "0a09f4055a7f4287",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 820,
        "wires": [
            [
                "c904f04a96a8b6c6"
            ]
        ]
    },
    {
        "id": "66ed548dcf8330cb",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "8eb280bccf9364b0"
            ]
        ]
    },
    {
        "id": "13b9dac75690da92",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "645cad7ff95ff3cd"
            ]
        ]
    },
    {
        "id": "bf1bc657cd3cc653",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "93af72f0c6a5e425"
            ]
        ]
    },
    {
        "id": "d663694d1edff4e7",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "32dc25fc8f95cff7"
            ]
        ]
    },
    {
        "id": "43a824d561f1a68c",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1240,
        "wires": [
            [
                "c250b3fd56d0677c"
            ]
        ]
    },
    {
        "id": "a08166871690c57f",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1320,
        "wires": [
            [
                "bf5909ed02331101"
            ]
        ]
    },
    {
        "id": "8e753656ca16bb2c",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1400,
        "wires": [
            [
                "7455724254e6cce9"
            ]
        ]
    },
    {
        "id": "a1790144b7214b0d",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1500,
        "wires": [
            [
                "bd89f0f41aa47a28"
            ]
        ]
    },
    {
        "id": "739cc2ed6e7e84ac",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1580,
        "wires": [
            [
                "0434190be1476d4e"
            ]
        ]
    },
    {
        "id": "1ca1ce159bbed27f",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 1820,
        "wires": [
            [
                "39cdd1f4b4960102"
            ]
        ]
    },
    {
        "id": "989c2c71f17bb121",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 1920,
        "wires": [
            [
                "231ef4a24fd40c01"
            ]
        ]
    },
    {
        "id": "03ca3d422b3a4409",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 2140,
        "wires": [
            [
                "c18b4155f546b5a9"
            ]
        ]
    },
    {
        "id": "5ee4aadd1ef72cb5",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 2260,
        "wires": [
            [
                "33302c49f14e32fb"
            ]
        ]
    },
    {
        "id": "2040d811372d08f3",
        "type": "ui_switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "label": "Enable Disguise",
        "tooltip": "",
        "group": "37face5d7e0eb519",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 960,
        "y": 100,
        "wires": [
            [
                "1de45ff8f4be5782"
            ]
        ]
    },
    {
        "id": "1de45ff8f4be5782",
        "type": "switch",
        "z": "f52f0411d560d0ad",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 100,
        "wires": [
            [
                "08c69c36d27ff7a8",
                "0641267887e0f146"
            ],
            [
                "656b0936f0ba31a3",
                "08fdac6fa5c6a33f"
            ]
        ]
    },
    {
        "id": "08c69c36d27ff7a8",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "656b0936f0ba31a3",
        "type": "change",
        "z": "f52f0411d560d0ad",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8765ca191725a185",
        "type": "inject",
        "z": "f52f0411d560d0ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "84f873e392d64fa5"
            ]
        ]
    },
    {
        "id": "dde3a7b6619a04fa",
        "type": "inject",
        "z": "f52f0411d560d0ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 230,
        "y": 700,
        "wires": [
            [
                "2d79ea5538316007"
            ]
        ]
    },
    {
        "id": "acbdcd8057985fc0",
        "type": "inject",
        "z": "f52f0411d560d0ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 150,
        "y": 1780,
        "wires": [
            [
                "1ca1ce159bbed27f"
            ]
        ]
    },
    {
        "id": "f40d03aa21266627",
        "type": "inject",
        "z": "f52f0411d560d0ad",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 150,
        "y": 1920,
        "wires": [
            [
                "989c2c71f17bb121"
            ]
        ]
    },
    {
        "id": "5c31668552dd299b",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "1e808e97908e0b1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Workload",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2120,
        "wires": [
            [
                "03ca3d422b3a4409"
            ]
        ]
    },
    {
        "id": "db042997753e8d6c",
        "type": "ui_button",
        "z": "f52f0411d560d0ad",
        "name": "",
        "group": "1e808e97908e0b1e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Workload",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2260,
        "wires": [
            [
                "5ee4aadd1ef72cb5"
            ]
        ]
    },
    {
        "id": "0641267887e0f146",
        "type": "debug",
        "z": "f52f0411d560d0ad",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 40,
        "wires": []
    },
    {
        "id": "08fdac6fa5c6a33f",
        "type": "debug",
        "z": "f52f0411d560d0ad",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 180,
        "wires": []
    },
    {
        "id": "37face5d7e0eb519",
        "type": "ui_group",
        "name": "General",
        "tab": "8ce36e59ee20e8e5",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6161fff3474f61ab",
        "type": "ui_group",
        "name": "Cues/Sections",
        "tab": "8ce36e59ee20e8e5",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a476bfcbd891ce28",
        "type": "ui_group",
        "name": "Health",
        "tab": "8ce36e59ee20e8e5",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "762c963021ed03c8",
        "type": "ui_group",
        "name": "Show Control",
        "tab": "8ce36e59ee20e8e5",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b7fbaaeb035666ea",
        "type": "ui_group",
        "name": "Setup",
        "tab": "8ce36e59ee20e8e5",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e808e97908e0b1e",
        "type": "ui_group",
        "name": "RenderStream",
        "tab": "8ce36e59ee20e8e5",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ce36e59ee20e8e5",
        "type": "ui_tab",
        "name": "Disguise",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]