Compiled_v6.json
[
    {
        "id": "4f5b074c6d151719",
        "type": "tab",
        "label": "SP Stype Data",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78418b5f3c21cc88",
        "type": "tab",
        "label": "Master Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "598017ddd5c9d687",
        "type": "tab",
        "label": "Megapixel - Max",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ee67fdb81228536",
        "type": "tab",
        "label": "Disguise - Casey",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7e0e785c8dcb296e",
        "type": "tab",
        "label": "MA3 - Stella",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8e5173d565be7294",
        "type": "tab",
        "label": "Blackmagic - Angel",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6cf43c3f57085226",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "54371c07ba4d8265",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "452a573972d851ca",
        "type": "ui_group",
        "name": "Default",
        "tab": "6cf43c3f57085226",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e86c5e5820fa7b80",
        "type": "telnet-connection",
        "name": "",
        "address": "10.10.100.10",
        "port": "9993",
        "inDelimiter": "",
        "outDelimiter": "",
        "timeOut": 1500,
        "clearOut": "",
        "openTries": "2"
    },
    {
        "id": "935ff10590ace2b1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.10.100.10",
        "port": "9993",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "381f4edfade2925c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7d1c35d7ae7d53f3",
        "type": "ui_group",
        "name": "Default",
        "tab": "381f4edfade2925c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "29dbc66f39e27588",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a59b7681e5e5f275",
        "type": "ui_group",
        "name": "Column 1",
        "tab": "29dbc66f39e27588",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c29680707d647f2",
        "type": "ui_group",
        "name": "Default",
        "tab": "6cf43c3f57085226",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c85394b0edea680",
        "type": "ui_group",
        "name": "Column 2",
        "tab": "29dbc66f39e27588",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6a859f9699cadbd6",
        "type": "ui_group",
        "name": "Column 3",
        "tab": "29dbc66f39e27588",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2375a716cad4ccf",
        "type": "ui_tab",
        "name": "Disguise",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a1fb7fc342aba8c0",
        "type": "ui_group",
        "name": "General",
        "tab": "b2375a716cad4ccf",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6497f2a9081c251f",
        "type": "ui_group",
        "name": "Cues/Sections",
        "tab": "b2375a716cad4ccf",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e3a1840cc7e3436",
        "type": "ui_group",
        "name": "Health",
        "tab": "b2375a716cad4ccf",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c5fd2c0a6d475bf",
        "type": "ui_group",
        "name": "Show Control",
        "tab": "b2375a716cad4ccf",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e56aa5492263b90d",
        "type": "ui_group",
        "name": "Setup",
        "tab": "b2375a716cad4ccf",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4e7280f39acf8853",
        "type": "ui_group",
        "name": "RenderStream",
        "tab": "b2375a716cad4ccf",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d28cabec40466f7c",
        "type": "ui_tab",
        "name": "Megapixel",
        "icon": "blur_linear",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "704095f56b67b1cc",
        "type": "ui_group",
        "name": "Brightness",
        "tab": "d28cabec40466f7c",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef80796b567edde8",
        "type": "ui_group",
        "name": "Gamma",
        "tab": "d28cabec40466f7c",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd36655edd3a5e12",
        "type": "ui_group",
        "name": "Presets",
        "tab": "d28cabec40466f7c",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e9472e42f8d55e2a",
        "type": "ui_group",
        "name": "Alerts",
        "tab": "d28cabec40466f7c",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1fb87cc69df2d9a1",
        "type": "ui_tab",
        "name": "MA3",
        "icon": "lightbulb_outline",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eb218ffe29b7dc7a",
        "type": "ui_group",
        "name": "Lighting",
        "tab": "1fb87cc69df2d9a1",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "19db2211e3680d40",
        "type": "ui_tab",
        "name": "Stage Precision",
        "icon": "camera_enhanced",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a8c1c4b86a6b3c62",
        "type": "ui_group",
        "name": "Camera Position",
        "tab": "19db2211e3680d40",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "260ec3e0d3d65314",
        "type": "ui_group",
        "name": "Camera Rotation",
        "tab": "19db2211e3680d40",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "65d2a62ae2b030e0",
        "type": "udp in",
        "z": "4f5b074c6d151719",
        "name": "",
        "iface": "",
        "port": "2001",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 200,
        "y": 380,
        "wires": [
            [
                "d70b55c4af54e438",
                "7762ea81abd35801",
                "b2498a6e6b678809",
                "3ea533a06876b3f7",
                "153c0a8104158690",
                "1316c493f2803924"
            ]
        ]
    },
    {
        "id": "d70b55c4af54e438",
        "type": "osc",
        "z": "4f5b074c6d151719",
        "name": "Position X",
        "path": "/cam1/tx",
        "metadata": false,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "343c80d7ebc06d04"
            ]
        ]
    },
    {
        "id": "343c80d7ebc06d04",
        "type": "ui_text",
        "z": "4f5b074c6d151719",
        "group": "a8c1c4b86a6b3c62",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position X",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "7762ea81abd35801",
        "type": "osc",
        "z": "4f5b074c6d151719",
        "name": "Position Y",
        "path": "/cam1/ty",
        "metadata": false,
        "x": 440,
        "y": 300,
        "wires": [
            [
                "b8a66733d43f95ee"
            ]
        ]
    },
    {
        "id": "b8a66733d43f95ee",
        "type": "ui_text",
        "z": "4f5b074c6d151719",
        "group": "a8c1c4b86a6b3c62",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position Y",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 300,
        "wires": []
    },
    {
        "id": "0b3653b49e6fecf9",
        "type": "ui_text",
        "z": "4f5b074c6d151719",
        "group": "a8c1c4b86a6b3c62",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Position Z",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "b2498a6e6b678809",
        "type": "osc",
        "z": "4f5b074c6d151719",
        "name": "Position Z",
        "path": "/cam1/tz",
        "metadata": false,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "0b3653b49e6fecf9"
            ]
        ]
    },
    {
        "id": "46489960887fb8a9",
        "type": "ui_text",
        "z": "4f5b074c6d151719",
        "group": "260ec3e0d3d65314",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rotation X",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "3ea533a06876b3f7",
        "type": "osc",
        "z": "4f5b074c6d151719",
        "name": "Rotation X",
        "path": "/cam1/rx",
        "metadata": false,
        "x": 450,
        "y": 420,
        "wires": [
            [
                "46489960887fb8a9"
            ]
        ]
    },
    {
        "id": "fc2b215daf276a5a",
        "type": "ui_text",
        "z": "4f5b074c6d151719",
        "group": "260ec3e0d3d65314",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rotation Y",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "153c0a8104158690",
        "type": "osc",
        "z": "4f5b074c6d151719",
        "name": "Rotation Y",
        "path": "/cam1/ry",
        "metadata": false,
        "x": 450,
        "y": 460,
        "wires": [
            [
                "fc2b215daf276a5a"
            ]
        ]
    },
    {
        "id": "2342d361112d7dce",
        "type": "ui_text",
        "z": "4f5b074c6d151719",
        "group": "260ec3e0d3d65314",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Rotation Z",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "1316c493f2803924",
        "type": "osc",
        "z": "4f5b074c6d151719",
        "name": "Rotation Z",
        "path": "/cam1/rz",
        "metadata": false,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "2342d361112d7dce"
            ]
        ]
    },
    {
        "id": "4f3fab92aa636bb6",
        "type": "inject",
        "z": "78418b5f3c21cc88",
        "name": "Start All",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "312a3d9d6ae6b397"
            ]
        ]
    },
    {
        "id": "312a3d9d6ae6b397",
        "type": "link out",
        "z": "78418b5f3c21cc88",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "d8c335d17bd0f1dc",
            "ae6f929ca743a205",
            "5feb3daf6a9d5a48",
            "e3299ce045e375f9",
            "873184440d070bbc",
            "fe2d8b44f96fb45b",
            "6edcaa7558ace115"
        ],
        "x": 415,
        "y": 140,
        "wires": []
    },
    {
        "id": "4bd280ca3e0bb9ce",
        "type": "ui_slider",
        "z": "598017ddd5c9d687",
        "name": "",
        "label": "Master",
        "tooltip": "",
        "group": "704095f56b67b1cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 670,
        "y": 580,
        "wires": [
            [
                "8248cd4f7960ba63",
                "008b4d36271d035c"
            ]
        ]
    },
    {
        "id": "8248cd4f7960ba63",
        "type": "ui_slider",
        "z": "598017ddd5c9d687",
        "name": "",
        "label": "Wall",
        "tooltip": "",
        "group": "704095f56b67b1cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 580,
        "wires": [
            [
                "27d91dc78ccaa1f1",
                "5e493fac3ea88643"
            ]
        ]
    },
    {
        "id": "f333b14798ee30b0",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.10.100.240/api/v1/public",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "27d91dc78ccaa1f1",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Wall",
        "func": "let brightness = msg.payload;\n\nmsg.method = \"PATCH\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    dev: {\n        display: {\n            brightness: brightness\n        }\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 640,
        "wires": [
            [
                "f333b14798ee30b0"
            ]
        ]
    },
    {
        "id": "008b4d36271d035c",
        "type": "ui_slider",
        "z": "598017ddd5c9d687",
        "name": "",
        "label": "Floor",
        "tooltip": "",
        "group": "704095f56b67b1cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 850,
        "y": 720,
        "wires": [
            [
                "009c17864af13f46",
                "a289f67dd4d2bb90"
            ]
        ]
    },
    {
        "id": "99124d733ed295bf",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.10.100.241/api/v1/public",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "009c17864af13f46",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Floor",
        "func": "let brightness = msg.payload;\n\nmsg.method = \"PATCH\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    dev: {\n        display: {\n            brightness: brightness\n        }\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 780,
        "wires": [
            [
                "99124d733ed295bf"
            ]
        ]
    },
    {
        "id": "5e493fac3ea88643",
        "type": "ui_text",
        "z": "598017ddd5c9d687",
        "group": "704095f56b67b1cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wall",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 580,
        "wires": []
    },
    {
        "id": "a289f67dd4d2bb90",
        "type": "ui_text",
        "z": "598017ddd5c9d687",
        "group": "704095f56b67b1cc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Floor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 720,
        "wires": []
    },
    {
        "id": "76ab96f63a9e1b05",
        "type": "inject",
        "z": "598017ddd5c9d687",
        "name": "Get Brightness",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 480,
        "wires": [
            [
                "4721e174b241818f",
                "8a0f371226898aa8"
            ]
        ]
    },
    {
        "id": "4721e174b241818f",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.10.100.240/api/v1/public?dev.display.brightness",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 480,
        "wires": [
            [
                "5ac1d60aa202b40a"
            ]
        ]
    },
    {
        "id": "5ac1d60aa202b40a",
        "type": "debug",
        "z": "598017ddd5c9d687",
        "name": "Wall B",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 480,
        "wires": []
    },
    {
        "id": "8a0f371226898aa8",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.10.100.241/api/v1/public?dev.display.brightness",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 520,
        "wires": [
            [
                "e1b8862ae21d9957"
            ]
        ]
    },
    {
        "id": "e1b8862ae21d9957",
        "type": "debug",
        "z": "598017ddd5c9d687",
        "name": "Floor B",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 520,
        "wires": []
    },
    {
        "id": "1685de6d9633d1a3",
        "type": "ui_slider",
        "z": "598017ddd5c9d687",
        "name": "",
        "label": "Master",
        "tooltip": "",
        "group": "ef80796b567edde8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "4",
        "step": "0.05",
        "className": "",
        "x": 670,
        "y": 980,
        "wires": [
            [
                "631bef897eb23c6d",
                "2004176c15179cb2"
            ]
        ]
    },
    {
        "id": "631bef897eb23c6d",
        "type": "ui_slider",
        "z": "598017ddd5c9d687",
        "name": "",
        "label": "Wall",
        "tooltip": "",
        "group": "ef80796b567edde8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "4",
        "step": "0.05",
        "className": "",
        "x": 850,
        "y": 980,
        "wires": [
            [
                "798b3c1b1abc4e1e",
                "8a76c87b0c80fc26"
            ]
        ]
    },
    {
        "id": "710a2e9ddb4a81f1",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.10.100.240/api/v1/public",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "798b3c1b1abc4e1e",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Wall",
        "func": "let gamma = msg.payload;\n\nmsg.method = \"PATCH\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    dev: {\n        display: {\n            gamma: gamma\n        }\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1040,
        "wires": [
            [
                "710a2e9ddb4a81f1"
            ]
        ]
    },
    {
        "id": "2004176c15179cb2",
        "type": "ui_slider",
        "z": "598017ddd5c9d687",
        "name": "",
        "label": "Floor",
        "tooltip": "",
        "group": "ef80796b567edde8",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "4",
        "step": "0.05",
        "className": "",
        "x": 850,
        "y": 1120,
        "wires": [
            [
                "5f9f4872ad236908",
                "9984f32443ae8ec4"
            ]
        ]
    },
    {
        "id": "8363792b8e573d60",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://10.10.100.241/api/v1/public",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1170,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "5f9f4872ad236908",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Floor",
        "func": "let gamma = msg.payload;\n\nmsg.method = \"PATCH\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.payload = {\n    dev: {\n        display: {\n            gamma: gamma\n        }\n    }\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1180,
        "wires": [
            [
                "8363792b8e573d60"
            ]
        ]
    },
    {
        "id": "8a76c87b0c80fc26",
        "type": "ui_text",
        "z": "598017ddd5c9d687",
        "group": "ef80796b567edde8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wall",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 980,
        "wires": []
    },
    {
        "id": "2478a376452b84c6",
        "type": "inject",
        "z": "598017ddd5c9d687",
        "name": "Get Gamma",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 690,
        "y": 880,
        "wires": [
            [
                "6a0d1e28116166a3",
                "7d3313f75bdfd994"
            ]
        ]
    },
    {
        "id": "6a0d1e28116166a3",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.10.100.240/api/v1/public?dev.display.gamma",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 880,
        "wires": [
            [
                "4393fd268a5f152a"
            ]
        ]
    },
    {
        "id": "4393fd268a5f152a",
        "type": "debug",
        "z": "598017ddd5c9d687",
        "name": "Wall G",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 880,
        "wires": []
    },
    {
        "id": "7d3313f75bdfd994",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.10.100.241/api/v1/public?dev.display.gamma",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 920,
        "wires": [
            [
                "e2497f9a3285288c"
            ]
        ]
    },
    {
        "id": "e2497f9a3285288c",
        "type": "debug",
        "z": "598017ddd5c9d687",
        "name": "Floor G",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 920,
        "wires": []
    },
    {
        "id": "21cc8f8b9bbeb543",
        "type": "ui_button",
        "z": "598017ddd5c9d687",
        "name": "",
        "group": "bd36655edd3a5e12",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "MUXR",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 660,
        "wires": [
            [
                "f1b2f10f279b2ec2",
                "5e844f39050e6d1b",
                "4e5a306de0804f8b"
            ]
        ]
    },
    {
        "id": "9984f32443ae8ec4",
        "type": "ui_text",
        "z": "598017ddd5c9d687",
        "group": "ef80796b567edde8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Floor",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1570,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f1b2f10f279b2ec2",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Wall Brightness",
        "func": "msg.payload = 70\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 660,
        "wires": [
            [
                "8248cd4f7960ba63"
            ]
        ]
    },
    {
        "id": "5e844f39050e6d1b",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Floor Brightness",
        "func": "msg.payload = 59\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 700,
        "wires": [
            [
                "008b4d36271d035c"
            ]
        ]
    },
    {
        "id": "4e5a306de0804f8b",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Gamma",
        "func": "msg.payload = 2.4\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 740,
        "wires": [
            [
                "1685de6d9633d1a3"
            ]
        ]
    },
    {
        "id": "1f3e18db4b418873",
        "type": "ui_button",
        "z": "598017ddd5c9d687",
        "name": "",
        "group": "bd36655edd3a5e12",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Max",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "66e948c4847dc758",
                "47a26c9bcc763fcb"
            ]
        ]
    },
    {
        "id": "66e948c4847dc758",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Brightness",
        "func": "msg.payload = 100\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 840,
        "wires": [
            [
                "8248cd4f7960ba63",
                "008b4d36271d035c"
            ]
        ]
    },
    {
        "id": "47a26c9bcc763fcb",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Gamma",
        "func": "msg.payload = 4\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 920,
        "wires": [
            [
                "1685de6d9633d1a3"
            ]
        ]
    },
    {
        "id": "4171bc4fde9ac9f6",
        "type": "ui_button",
        "z": "598017ddd5c9d687",
        "name": "",
        "group": "bd36655edd3a5e12",
        "order": 0,
        "width": "3",
        "height": "2",
        "passthru": false,
        "label": "Black",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "c3dc1317ece360e7"
            ]
        ]
    },
    {
        "id": "c3dc1317ece360e7",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Brightness",
        "func": "msg.payload = 0\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1000,
        "wires": [
            [
                "8248cd4f7960ba63",
                "008b4d36271d035c"
            ]
        ]
    },
    {
        "id": "26533e09cd5a72c2",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.10.100.240/api/v1/public?sys.alertsCount&sys.alertsSeverity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 1320,
        "wires": [
            [
                "41c3fa085d1bbe19"
            ]
        ]
    },
    {
        "id": "246a49689ea9fd8c",
        "type": "debug",
        "z": "598017ddd5c9d687",
        "name": "Wall Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1400,
        "wires": []
    },
    {
        "id": "afbac96c9a48d699",
        "type": "http request",
        "z": "598017ddd5c9d687",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://10.10.100.241/api/v1/public?sys.alertsCount&sys.alertsSeverity",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 1540,
        "wires": [
            [
                "e616d9f2864f30bd"
            ]
        ]
    },
    {
        "id": "618444d0416a0134",
        "type": "debug",
        "z": "598017ddd5c9d687",
        "name": "Floor Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 1600,
        "wires": []
    },
    {
        "id": "253c9eef2550a5b0",
        "type": "ui_button",
        "z": "598017ddd5c9d687",
        "name": "",
        "group": "e9472e42f8d55e2a",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 280,
        "y": 1320,
        "wires": [
            [
                "26533e09cd5a72c2",
                "afbac96c9a48d699",
                "fde9b0c7bff52c31"
            ]
        ]
    },
    {
        "id": "4f5fecfdfab98e8a",
        "type": "ui_text",
        "z": "598017ddd5c9d687",
        "group": "e9472e42f8d55e2a",
        "order": 1,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "10.10.100.240 - Wall",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 1160,
        "y": 1320,
        "wires": []
    },
    {
        "id": "5b857f039d66c13f",
        "type": "ui_text",
        "z": "598017ddd5c9d687",
        "group": "e9472e42f8d55e2a",
        "order": 1,
        "width": "6",
        "height": "3",
        "name": "",
        "label": "10.10.100.241 - Floor",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 1160,
        "y": 1540,
        "wires": []
    },
    {
        "id": "41c3fa085d1bbe19",
        "type": "json",
        "z": "598017ddd5c9d687",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 1320,
        "wires": [
            [
                "4309384348506bfc"
            ]
        ]
    },
    {
        "id": "4309384348506bfc",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Parse",
        "func": "const count = msg.payload.sys.alertsCount;\nconst severity = msg.payload.sys.alertsSeverity;\n\nmsg.payload = `Alerts: ${count}, Severity: ${severity}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1320,
        "wires": [
            [
                "246a49689ea9fd8c",
                "4f5fecfdfab98e8a"
            ]
        ]
    },
    {
        "id": "e616d9f2864f30bd",
        "type": "json",
        "z": "598017ddd5c9d687",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 690,
        "y": 1540,
        "wires": [
            [
                "aae6220ebca6607c"
            ]
        ]
    },
    {
        "id": "aae6220ebca6607c",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Parse",
        "func": "const count = msg.payload.sys.alertsCount;\nconst severity = msg.payload.sys.alertsSeverity;\n\nmsg.payload = `Alerts: ${count}, Severity: ${severity}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1540,
        "wires": [
            [
                "618444d0416a0134",
                "5b857f039d66c13f"
            ]
        ]
    },
    {
        "id": "42f207b558b8d83f",
        "type": "inject",
        "z": "598017ddd5c9d687",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 1540,
        "wires": [
            [
                "26533e09cd5a72c2",
                "afbac96c9a48d699",
                "fde9b0c7bff52c31"
            ]
        ]
    },
    {
        "id": "c1333bf868cf8386",
        "type": "ui_text",
        "z": "598017ddd5c9d687",
        "group": "e9472e42f8d55e2a",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Last Ping",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#757575",
        "x": 780,
        "y": 1700,
        "wires": []
    },
    {
        "id": "fde9b0c7bff52c31",
        "type": "function",
        "z": "598017ddd5c9d687",
        "name": "Get Time",
        "func": "// Get current time\nconst now = new Date();\nconst timeString = now.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', second: '2-digit' });\n\n\nmsg.payload = `${timeString}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1700,
        "wires": [
            [
                "c1333bf868cf8386"
            ]
        ]
    },
    {
        "id": "f608321aa8d8ae38",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Get Active Transport",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 300,
        "wires": [
            [
                "958a9757f4edde54"
            ]
        ]
    },
    {
        "id": "958a9757f4edde54",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "c2d6e4abeb64f462"
            ]
        ]
    },
    {
        "id": "fcd65d64cdc94db0",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Get Transport Annotations",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1660,
        "y": 420,
        "wires": [
            [
                "11c4fcd217440e82"
            ]
        ]
    },
    {
        "id": "11c4fcd217440e82",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1950,
        "y": 420,
        "wires": [
            [
                "bf857a4feb2c49f8",
                "387b8a62c66bc3c3",
                "8e5362790e5d822d"
            ]
        ]
    },
    {
        "id": "04c4ca49678ff043",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Get tracks.",
        "info": "",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "379ed2d384c6dc37",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Get all Notes, Tags, and Sections in current track.",
        "info": "",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "96a2cbfedab08159",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Health checkup.",
        "info": "",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "6583c71134754e7b",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Get Health",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 700,
        "wires": [
            [
                "ede9fee5d141d335"
            ]
        ]
    },
    {
        "id": "ede9fee5d141d335",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "15c9f6bf19f5f1aa",
                "a212a9c59880b1f2",
                "8c6ccd2f5ce38330",
                "302371923cfcd55b"
            ]
        ]
    },
    {
        "id": "c3f02f6bd7cf5bb8",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Get Project.",
        "info": "",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "3ac7d0094c4eac77",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Get Project",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 580,
        "wires": [
            [
                "c02955f807c48f7b"
            ]
        ]
    },
    {
        "id": "c02955f807c48f7b",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "fb4c8fa1cf83e179"
            ]
        ]
    },
    {
        "id": "8cfe50b68f395731",
        "type": "reusable-in",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "8913d073b8749ca3"
            ]
        ]
    },
    {
        "id": "d7de1657d8abb786",
        "type": "reusable-out",
        "z": "6ee67fdb81228536",
        "name": "reusable out",
        "position": 1,
        "x": 1050,
        "y": 920,
        "wires": []
    },
    {
        "id": "048783a9df35d89e",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IP",
                "pt": "msg",
                "to": "directorip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 920,
        "wires": [
            [
                "d7de1657d8abb786"
            ]
        ]
    },
    {
        "id": "d0847a632e2a9cc1",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Get specified Director IP.",
        "info": "",
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "c9fbfaecb0265ed1",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "6ebad8fac1b9147c"
            ]
        ],
        "outputLabels": [
            "reusable out"
        ]
    },
    {
        "id": "6ebad8fac1b9147c",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/activetransport",
        "output": "str",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "f608321aa8d8ae38"
            ]
        ]
    },
    {
        "id": "1879a283fe0657f0",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 1060,
        "y": 420,
        "wires": [
            [
                "a8ee0066e1605dcb"
            ]
        ]
    },
    {
        "id": "a8ee0066e1605dcb",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/annotations?uid={{global.track}}",
        "output": "str",
        "x": 1320,
        "y": 420,
        "wires": [
            [
                "fcd65d64cdc94db0"
            ]
        ]
    },
    {
        "id": "04c161bb49ddf584",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "3d83e0a3f7384366"
            ]
        ]
    },
    {
        "id": "3d83e0a3f7384366",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/status/health",
        "output": "str",
        "x": 760,
        "y": 700,
        "wires": [
            [
                "6583c71134754e7b"
            ]
        ]
    },
    {
        "id": "9535778447b12b96",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "71247499debda2d2"
            ]
        ],
        "outputLabels": [
            "reusable out"
        ]
    },
    {
        "id": "71247499debda2d2",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/status/project",
        "output": "str",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "3ac7d0094c4eac77"
            ]
        ]
    },
    {
        "id": "8e812a9f350d22d5",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Get RenderStream Layers",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 1820,
        "wires": [
            [
                "73e11728aaa66ea4"
            ]
        ]
    },
    {
        "id": "73e11728aaa66ea4",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 1820,
        "wires": [
            [
                "86b5e93331a3e4f8"
            ]
        ]
    },
    {
        "id": "287aebeb3aef441a",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Get RenderStream Layer List",
        "info": "",
        "x": 820,
        "y": 1760,
        "wires": []
    },
    {
        "id": "013aa1473bc4d2ac",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "36b46db15e8a52bb"
            ]
        ]
    },
    {
        "id": "36b46db15e8a52bb",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layers",
        "output": "str",
        "x": 720,
        "y": 1820,
        "wires": [
            [
                "8e812a9f350d22d5"
            ]
        ]
    },
    {
        "id": "d1080897384bbc48",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "43ae850854b899d7"
            ]
        ]
    },
    {
        "id": "58d72b0e38a8769c",
        "type": "reusable-in",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "0deedf631363099d"
            ]
        ]
    },
    {
        "id": "6c911169d95a75c9",
        "type": "reusable-out",
        "z": "6ee67fdb81228536",
        "name": "reusable out",
        "position": 1,
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "24f3c008bfe5a587",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Get OSC Info for Transport Control",
        "info": "",
        "x": 840,
        "y": 760,
        "wires": []
    },
    {
        "id": "5f3ab031fceb7946",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "oscport",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 820,
        "wires": [
            [
                "6c911169d95a75c9"
            ]
        ]
    },
    {
        "id": "8dd55091ec71af73",
        "type": "udp out",
        "z": "6ee67fdb81228536",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "43ae850854b899d7",
        "type": "osc",
        "z": "6ee67fdb81228536",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "8dd55091ec71af73",
                "46c1a152a422b864",
                "979d84934feea7c6"
            ]
        ]
    },
    {
        "id": "9a4e62096a12850d",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Play current track through.",
        "info": "",
        "x": 870,
        "y": 960,
        "wires": []
    },
    {
        "id": "e394c8ca90ddbfb4",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1160,
        "wires": [
            [
                "600c16e4909e2313"
            ]
        ]
    },
    {
        "id": "8bedf5ea67bce206",
        "type": "udp out",
        "z": "6ee67fdb81228536",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1160,
        "wires": []
    },
    {
        "id": "600c16e4909e2313",
        "type": "osc",
        "z": "6ee67fdb81228536",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "8bedf5ea67bce206"
            ]
        ]
    },
    {
        "id": "46536af69c8a64fb",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Stop current track.",
        "info": "",
        "x": 870,
        "y": 1120,
        "wires": []
    },
    {
        "id": "165c51481a2a30e4",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1240,
        "wires": [
            [
                "66e81611ef5c60d0"
            ]
        ]
    },
    {
        "id": "463653b21d94f179",
        "type": "udp out",
        "z": "6ee67fdb81228536",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1240,
        "wires": []
    },
    {
        "id": "66e81611ef5c60d0",
        "type": "osc",
        "z": "6ee67fdb81228536",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1240,
        "wires": [
            [
                "463653b21d94f179"
            ]
        ]
    },
    {
        "id": "27bbc7fe4de4a0e5",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Fade down.",
        "info": "",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c2ccd55f45e5d11d",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1320,
        "wires": [
            [
                "17a6b6cfabb4e49e"
            ]
        ]
    },
    {
        "id": "8c27eb27bc8d98f8",
        "type": "udp out",
        "z": "6ee67fdb81228536",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1320,
        "wires": []
    },
    {
        "id": "17a6b6cfabb4e49e",
        "type": "osc",
        "z": "6ee67fdb81228536",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1320,
        "wires": [
            [
                "8c27eb27bc8d98f8"
            ]
        ]
    },
    {
        "id": "b8794f6f61dff07c",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Fade up.",
        "info": "",
        "x": 820,
        "y": 1280,
        "wires": []
    },
    {
        "id": "44c20d090e9acd34",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1500,
        "wires": [
            [
                "d85d5706f6263122"
            ]
        ]
    },
    {
        "id": "812d2e70e42c744f",
        "type": "udp out",
        "z": "6ee67fdb81228536",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1500,
        "wires": []
    },
    {
        "id": "d85d5706f6263122",
        "type": "osc",
        "z": "6ee67fdb81228536",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1500,
        "wires": [
            [
                "812d2e70e42c744f"
            ]
        ]
    },
    {
        "id": "f6a5ebd1b946d251",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Next section.",
        "info": "",
        "x": 830,
        "y": 1460,
        "wires": []
    },
    {
        "id": "823111b47221bda6",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1580,
        "wires": [
            [
                "81130b25e5ec004f"
            ]
        ]
    },
    {
        "id": "d9761461240598e2",
        "type": "udp out",
        "z": "6ee67fdb81228536",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1580,
        "wires": []
    },
    {
        "id": "81130b25e5ec004f",
        "type": "osc",
        "z": "6ee67fdb81228536",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1580,
        "wires": [
            [
                "d9761461240598e2"
            ]
        ]
    },
    {
        "id": "4c7197b63b6860ad",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Previous section.",
        "info": "",
        "x": 840,
        "y": 1540,
        "wires": []
    },
    {
        "id": "f09e7a0f80f168d4",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1400,
        "wires": [
            [
                "0009b7ca0e7b0676"
            ]
        ]
    },
    {
        "id": "77c7249bb681b47c",
        "type": "udp out",
        "z": "6ee67fdb81228536",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1400,
        "wires": []
    },
    {
        "id": "0009b7ca0e7b0676",
        "type": "osc",
        "z": "6ee67fdb81228536",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1400,
        "wires": [
            [
                "77c7249bb681b47c"
            ]
        ]
    },
    {
        "id": "ba8a58393a457a27",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Hold.",
        "info": "",
        "x": 810,
        "y": 1360,
        "wires": []
    },
    {
        "id": "73e512d2b7be14e9",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "70de92eab1673dca"
            ]
        ]
    },
    {
        "id": "aa2b631e4ab381fd",
        "type": "udp out",
        "z": "6ee67fdb81228536",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "70de92eab1673dca",
        "type": "osc",
        "z": "6ee67fdb81228536",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "aa2b631e4ab381fd"
            ]
        ]
    },
    {
        "id": "d50aca9dcdd423ac",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Play current track to end of section.",
        "info": "",
        "x": 900,
        "y": 1040,
        "wires": []
    },
    {
        "id": "366d8daecc9d1ff8",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Start Renderstream",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1390,
        "y": 2140,
        "wires": [
            [
                "0cdc38abbe83995e"
            ]
        ]
    },
    {
        "id": "94132685b311656c",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Start RenderStream workload.",
        "info": "",
        "x": 880,
        "y": 2080,
        "wires": []
    },
    {
        "id": "d71ee21c69291849",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 600,
        "y": 2140,
        "wires": [
            [
                "de5cfdce52e0a122"
            ]
        ]
    },
    {
        "id": "f456700e89d4a9d3",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/startlayers",
        "output": "str",
        "x": 1160,
        "y": 2140,
        "wires": [
            [
                "366d8daecc9d1ff8"
            ]
        ]
    },
    {
        "id": "85da9c77c569fbbe",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Stop Renderstream",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1410,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "f4410c15dbae49aa",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Stop RenderStream workload.",
        "info": "",
        "x": 880,
        "y": 2200,
        "wires": []
    },
    {
        "id": "dab3d54a8bfdacae",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 600,
        "y": 2260,
        "wires": [
            [
                "198f9cfd971de72c"
            ]
        ]
    },
    {
        "id": "9857d0fa4ca1b2f0",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/stoplayers",
        "output": "str",
        "x": 1160,
        "y": 2260,
        "wires": [
            [
                "85da9c77c569fbbe"
            ]
        ]
    },
    {
        "id": "e95c0d66926683ec",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Get RenderStream Layer Status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 1920,
        "wires": [
            [
                "c614af2a6a073856"
            ]
        ]
    },
    {
        "id": "0e000a34197c3101",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "Layer Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1800,
        "wires": []
    },
    {
        "id": "c614af2a6a073856",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 1920,
        "wires": [
            [
                "dabbee0b4352f918",
                "5256f7cd7c146951"
            ]
        ]
    },
    {
        "id": "ea4a47714e16d71b",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Get RenderStream Layer Status",
        "info": "",
        "x": 1150,
        "y": 1880,
        "wires": []
    },
    {
        "id": "1fd05404239246da",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 560,
        "y": 1920,
        "wires": [
            [
                "4eb1c6151e34535e"
            ]
        ]
    },
    {
        "id": "45917ecc43ed1864",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layerstatus?uid={{uid}}",
        "output": "str",
        "x": 920,
        "y": 1920,
        "wires": [
            [
                "e95c0d66926683ec"
            ]
        ]
    },
    {
        "id": "4eb1c6151e34535e",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "uid",
                "pt": "msg",
                "to": "renderstreamuid",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1920,
        "wires": [
            [
                "45917ecc43ed1864",
                "c170d241b1c1c341"
            ]
        ]
    },
    {
        "id": "8286aad3e40457bb",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Get RenderStream Layer Config",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 2020,
        "wires": [
            [
                "7ad35abd4ddf4553"
            ]
        ]
    },
    {
        "id": "7ad35abd4ddf4553",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 2020,
        "wires": [
            [
                "21997127b157284f",
                "c7e28b7f87a74868"
            ]
        ]
    },
    {
        "id": "b1907cf6fa15f5fd",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Get RenderStream Layer Config Info",
        "info": "",
        "x": 1140,
        "y": 1980,
        "wires": []
    },
    {
        "id": "c170d241b1c1c341",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layerconfig?uid={{uid}}",
        "output": "str",
        "x": 920,
        "y": 2020,
        "wires": [
            [
                "8286aad3e40457bb"
            ]
        ]
    },
    {
        "id": "57f4dd58be6f35b6",
        "type": "inject",
        "z": "6ee67fdb81228536",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "1e9b606d8c146df5"
            ]
        ]
    },
    {
        "id": "59b01fec37ee482c",
        "type": "ui_dropdown",
        "z": "6ee67fdb81228536",
        "name": "",
        "label": "Notes",
        "tooltip": "",
        "place": "Select option",
        "group": "6497f2a9081c251f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2530,
        "y": 280,
        "wires": [
            [
                "4b53891b747e104e"
            ]
        ]
    },
    {
        "id": "bf857a4feb2c49f8",
        "type": "function",
        "z": "6ee67fdb81228536",
        "name": "Set NOTES Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.annotations.notes.length; i++) {\n    annot.push({[msg.payload.result.annotations.notes[i].text]: msg.payload.result.annotations.notes[i].time});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2290,
        "y": 280,
        "wires": [
            [
                "59b01fec37ee482c"
            ]
        ]
    },
    {
        "id": "f9081d3ff5baae88",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "a1fb7fc342aba8c0",
        "order": 1,
        "width": "4",
        "height": "3",
        "name": "",
        "label": "Current Project",
        "format": "Name: {{msg.payload.result.projectPath}} <br/> Version: {{payload.result.version.major}}.{{payload.result.version.minor}}.{{payload.result.version.hotfix}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1800,
        "y": 540,
        "wires": []
    },
    {
        "id": "fb4c8fa1cf83e179",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload.result.projectPath",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "project",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 560,
        "wires": [
            [],
            [
                "f24ccc242e283e58"
            ]
        ]
    },
    {
        "id": "f24ccc242e283e58",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "Set global.project",
        "rules": [
            {
                "t": "set",
                "p": "project",
                "pt": "global",
                "to": "payload.result.projectPath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 540,
        "wires": [
            [
                "f9081d3ff5baae88"
            ]
        ]
    },
    {
        "id": "15c9f6bf19f5f1aa",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "1e3a1840cc7e3436",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Machine Name",
        "format": "{{msg.payload.result[0].machine.name}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 620,
        "wires": []
    },
    {
        "id": "8c6ccd2f5ce38330",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "1e3a1840cc7e3436",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Video Dropped Frames",
        "format": "{{msg.payload.result[0].status.videoDroppedFrames}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "a212a9c59880b1f2",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "1e3a1840cc7e3436",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Average FPS",
        "format": "{{msg.payload.result[0].status.averageFPS}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "302371923cfcd55b",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "1e3a1840cc7e3436",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Video Missed Frames",
        "format": "{{msg.payload.result[0].status.videoMissedFrames}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1400,
        "y": 740,
        "wires": []
    },
    {
        "id": "dbdda2ae8afaeefd",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "0c5fd2c0a6d475bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play Track Through",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/play",
        "topicType": "str",
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "9b4f88fdb2e949e4"
            ]
        ]
    },
    {
        "id": "403e35eded4713ba",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "0c5fd2c0a6d475bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play Track To End Of Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/playsection",
        "topicType": "str",
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "c64e40b802e08502"
            ]
        ]
    },
    {
        "id": "6c0ff4933f369403",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "0c5fd2c0a6d475bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Current Track",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/stop",
        "topicType": "str",
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "76c0560edd2bba13"
            ]
        ]
    },
    {
        "id": "d03dd4760c9ca20f",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "0c5fd2c0a6d475bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fade Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/fadedown",
        "topicType": "str",
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "46eb8d7662e449d6"
            ]
        ]
    },
    {
        "id": "5c69500636734e7f",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "0c5fd2c0a6d475bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fade Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/fadeup",
        "topicType": "str",
        "x": 400,
        "y": 1320,
        "wires": [
            [
                "4a2a50b825df5a7b"
            ]
        ]
    },
    {
        "id": "ee5052aa3b56d71b",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "0c5fd2c0a6d475bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hold",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/hold",
        "topicType": "str",
        "x": 430,
        "y": 1400,
        "wires": [
            [
                "bac27ecbe2318581"
            ]
        ]
    },
    {
        "id": "645b04797be0bd4d",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "0c5fd2c0a6d475bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Next Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/nextsection",
        "topicType": "str",
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "77d13c4bbe6e14d4"
            ]
        ]
    },
    {
        "id": "a6db8ea342a4e776",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "0c5fd2c0a6d475bf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Previous Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/previoussection",
        "topicType": "str",
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "27c00c1528e9389f"
            ]
        ]
    },
    {
        "id": "c207a4dffb188e2e",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "directorip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 820,
        "wires": [
            [
                "5f3ab031fceb7946"
            ]
        ]
    },
    {
        "id": "46c1a152a422b864",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "port",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 860,
        "wires": []
    },
    {
        "id": "979d84934feea7c6",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ip",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 900,
        "wires": []
    },
    {
        "id": "33f80d0d731c4af6",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "Set global.oscport",
        "rules": [
            {
                "t": "set",
                "p": "oscport",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "0a9d0ee30af814de",
        "type": "ui_text_input",
        "z": "6ee67fdb81228536",
        "name": "",
        "label": "OSC Port",
        "tooltip": "",
        "group": "e56aa5492263b90d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1600,
        "y": 920,
        "wires": [
            [
                "33f80d0d731c4af6"
            ]
        ]
    },
    {
        "id": "135ebec7822c19f8",
        "type": "ui_text_input",
        "z": "6ee67fdb81228536",
        "name": "",
        "label": "Director IP",
        "tooltip": "",
        "group": "e56aa5492263b90d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1610,
        "y": 860,
        "wires": [
            [
                "da0688446396950d"
            ]
        ]
    },
    {
        "id": "da0688446396950d",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "Set global.directorip",
        "rules": [
            {
                "t": "set",
                "p": "directorip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "f7878756e3a4ad74",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Setup Input Text Boxes",
        "info": "",
        "x": 1700,
        "y": 800,
        "wires": []
    },
    {
        "id": "0478649ae2d59c64",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "4e7280f39acf8853",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/previoussection",
        "topicType": "str",
        "x": 140,
        "y": 1760,
        "wires": [
            [
                "cf43334f2e1c44bb"
            ]
        ]
    },
    {
        "id": "6557937695cfa084",
        "type": "ui_dropdown",
        "z": "6ee67fdb81228536",
        "name": "",
        "label": "RS Layers",
        "tooltip": "",
        "place": "Select option",
        "group": "4e7280f39acf8853",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1570,
        "y": 1740,
        "wires": [
            [
                "28d572a5a7c00306"
            ]
        ]
    },
    {
        "id": "86b5e93331a3e4f8",
        "type": "function",
        "z": "6ee67fdb81228536",
        "name": "Set Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.length; i++) {\n    annot.push({[msg.payload.result[i].name]: msg.payload.result[i].uid});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1740,
        "wires": [
            [
                "6557937695cfa084"
            ]
        ]
    },
    {
        "id": "28d572a5a7c00306",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "renderstreamuid",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "f2656849af7b13b4",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "Layer Config",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1980,
        "wires": []
    },
    {
        "id": "198f9cfd971de72c",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{   \"layers\": [     {       \"uid\": {{global.renderstreamuid}},       \"name\": \"\"     }   ] }",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 2260,
        "wires": [
            [
                "9857d0fa4ca1b2f0"
            ]
        ]
    },
    {
        "id": "e3299ce045e375f9",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "",
        "links": [
            "312a3d9d6ae6b397"
        ],
        "x": 355,
        "y": 400,
        "wires": [
            [
                "c9fbfaecb0265ed1"
            ]
        ]
    },
    {
        "id": "873184440d070bbc",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 3",
        "links": [
            "312a3d9d6ae6b397"
        ],
        "x": 185,
        "y": 640,
        "wires": [
            [
                "8fd8259b2e49fae6"
            ]
        ]
    },
    {
        "id": "fe2d8b44f96fb45b",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 4",
        "links": [
            "312a3d9d6ae6b397"
        ],
        "x": 175,
        "y": 760,
        "wires": [
            [
                "1d6cf1860e128885"
            ]
        ]
    },
    {
        "id": "d8c335d17bd0f1dc",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 5",
        "links": [
            "312a3d9d6ae6b397"
        ],
        "x": 165,
        "y": 1660,
        "wires": [
            [
                "cf43334f2e1c44bb"
            ]
        ]
    },
    {
        "id": "6edcaa7558ace115",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 6",
        "links": [
            "312a3d9d6ae6b397"
        ],
        "x": 165,
        "y": 1900,
        "wires": [
            [
                "3324e4d794c49041"
            ]
        ]
    },
    {
        "id": "ae6f929ca743a205",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 7",
        "links": [
            "312a3d9d6ae6b397"
        ],
        "x": 215,
        "y": 2200,
        "wires": [
            [
                "e85927d041757164"
            ]
        ]
    },
    {
        "id": "5feb3daf6a9d5a48",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 8",
        "links": [
            "312a3d9d6ae6b397"
        ],
        "x": 255,
        "y": 2320,
        "wires": [
            [
                "89efc4b7e8d4f1f3"
            ]
        ]
    },
    {
        "id": "1e9b606d8c146df5",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "c9fbfaecb0265ed1"
            ]
        ]
    },
    {
        "id": "ead2b058da9596f3",
        "type": "inject",
        "z": "6ee67fdb81228536",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "30b561978bd00eb0"
            ]
        ]
    },
    {
        "id": "f2031a9b84b7a6c3",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "We're not running at the start",
        "info": "",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "30b561978bd00eb0",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9a9506c9cec1efa2",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 420,
        "wires": [
            [
                "1879a283fe0657f0"
            ]
        ]
    },
    {
        "id": "8fd8259b2e49fae6",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "9535778447b12b96"
            ]
        ]
    },
    {
        "id": "1d6cf1860e128885",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "04c161bb49ddf584"
            ]
        ]
    },
    {
        "id": "0deedf631363099d",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 820,
        "wires": [
            [
                "c207a4dffb188e2e"
            ]
        ]
    },
    {
        "id": "8913d073b8749ca3",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "048783a9df35d89e"
            ]
        ]
    },
    {
        "id": "9b4f88fdb2e949e4",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "d1080897384bbc48"
            ]
        ]
    },
    {
        "id": "c64e40b802e08502",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "73e512d2b7be14e9"
            ]
        ]
    },
    {
        "id": "76c0560edd2bba13",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "e394c8ca90ddbfb4"
            ]
        ]
    },
    {
        "id": "46eb8d7662e449d6",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1240,
        "wires": [
            [
                "165c51481a2a30e4"
            ]
        ]
    },
    {
        "id": "4a2a50b825df5a7b",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1320,
        "wires": [
            [
                "c2ccd55f45e5d11d"
            ]
        ]
    },
    {
        "id": "bac27ecbe2318581",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1400,
        "wires": [
            [
                "f09e7a0f80f168d4"
            ]
        ]
    },
    {
        "id": "77d13c4bbe6e14d4",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1500,
        "wires": [
            [
                "44c20d090e9acd34"
            ]
        ]
    },
    {
        "id": "27c00c1528e9389f",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1580,
        "wires": [
            [
                "823111b47221bda6"
            ]
        ]
    },
    {
        "id": "cf43334f2e1c44bb",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 1820,
        "wires": [
            [
                "013aa1473bc4d2ac"
            ]
        ]
    },
    {
        "id": "3324e4d794c49041",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 1920,
        "wires": [
            [
                "1fd05404239246da"
            ]
        ]
    },
    {
        "id": "e85927d041757164",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 2140,
        "wires": [
            [
                "d71ee21c69291849"
            ]
        ]
    },
    {
        "id": "89efc4b7e8d4f1f3",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 2260,
        "wires": [
            [
                "dab3d54a8bfdacae"
            ]
        ]
    },
    {
        "id": "8c30ff8022bcfee6",
        "type": "ui_switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "label": "Enable Disguise",
        "tooltip": "",
        "group": "a1fb7fc342aba8c0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 960,
        "y": 100,
        "wires": [
            [
                "17f84f47a87129ab"
            ]
        ]
    },
    {
        "id": "17f84f47a87129ab",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 100,
        "wires": [
            [
                "25499d0e3324ea65",
                "579a868a2899c0a7"
            ],
            [
                "cb5e2e9cfce6c3f6",
                "1d55f79cc7c127a6"
            ]
        ]
    },
    {
        "id": "25499d0e3324ea65",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 80,
        "wires": [
            [
                "4d9795efe73e48b5"
            ]
        ]
    },
    {
        "id": "cb5e2e9cfce6c3f6",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7c1e59adf72ee9cd",
        "type": "inject",
        "z": "6ee67fdb81228536",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "8fd8259b2e49fae6"
            ]
        ]
    },
    {
        "id": "0f3301f0aa9d2094",
        "type": "inject",
        "z": "6ee67fdb81228536",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 230,
        "y": 700,
        "wires": [
            [
                "1d6cf1860e128885"
            ]
        ]
    },
    {
        "id": "39d64edffaac0d81",
        "type": "inject",
        "z": "6ee67fdb81228536",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 150,
        "y": 1700,
        "wires": [
            [
                "cf43334f2e1c44bb"
            ]
        ]
    },
    {
        "id": "968a0ea712e3f47a",
        "type": "inject",
        "z": "6ee67fdb81228536",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 150,
        "y": 1860,
        "wires": [
            [
                "3324e4d794c49041"
            ]
        ]
    },
    {
        "id": "acf9fcd96d46ec96",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "4e7280f39acf8853",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Workload",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2120,
        "wires": [
            [
                "e85927d041757164"
            ]
        ]
    },
    {
        "id": "2fb75f95619e0d29",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "4e7280f39acf8853",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Workload",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2260,
        "wires": [
            [
                "89efc4b7e8d4f1f3"
            ]
        ]
    },
    {
        "id": "579a868a2899c0a7",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 40,
        "wires": []
    },
    {
        "id": "1d55f79cc7c127a6",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 180,
        "wires": []
    },
    {
        "id": "21997127b157284f",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "4e7280f39acf8853",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.result.asset.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 2020,
        "wires": []
    },
    {
        "id": "c7e28b7f87a74868",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "4e7280f39acf8853",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RX Node(s)",
        "format": "{{msg.payload.result.pool.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 2060,
        "wires": []
    },
    {
        "id": "dabbee0b4352f918",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "4e7280f39acf8853",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Asset Error",
        "format": "{{msg.payload.result.assetErrors[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 1920,
        "wires": []
    },
    {
        "id": "5256f7cd7c146951",
        "type": "ui_text",
        "z": "6ee67fdb81228536",
        "group": "4e7280f39acf8853",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Workload Name",
        "format": "{{msg.payload.result.workload.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1560,
        "y": 1880,
        "wires": []
    },
    {
        "id": "4b53891b747e104e",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "notetime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "1606ad7f0871be89",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "6497f2a9081c251f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jump To Note",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2460,
        "wires": [
            [
                "d6529c20ec4f2dc8"
            ]
        ]
    },
    {
        "id": "d6529c20ec4f2dc8",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 2460,
        "wires": [
            [
                "93327943ef1d8c4e"
            ]
        ]
    },
    {
        "id": "93327943ef1d8c4e",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 520,
        "y": 2460,
        "wires": [
            [
                "8d36bebb7407cd0e"
            ]
        ]
    },
    {
        "id": "f9654c26e0b53cfe",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Jump To Note",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1200,
        "y": 2460,
        "wires": [
            [
                "2201d78fae810603"
            ]
        ]
    },
    {
        "id": "efddda3dc89fe2c4",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/gototime",
        "output": "str",
        "x": 1000,
        "y": 2460,
        "wires": [
            [
                "f9654c26e0b53cfe"
            ]
        ]
    },
    {
        "id": "2201d78fae810603",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1370,
        "y": 2460,
        "wires": [
            [
                "382cc31609433ff6"
            ]
        ]
    },
    {
        "id": "382cc31609433ff6",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 2460,
        "wires": []
    },
    {
        "id": "69dc6f8a128aa74e",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 2200,
        "wires": []
    },
    {
        "id": "0cdc38abbe83995e",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1630,
        "y": 2140,
        "wires": [
            [
                "a358b47092281e71"
            ]
        ]
    },
    {
        "id": "a358b47092281e71",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 2140,
        "wires": []
    },
    {
        "id": "de5cfdce52e0a122",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{   \"layers\": [     {       \"uid\": {{global.renderstreamuid}},       \"name\": \"\"     }   ] }",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 2140,
        "wires": [
            [
                "f456700e89d4a9d3",
                "69dc6f8a128aa74e"
            ]
        ]
    },
    {
        "id": "8d36bebb7407cd0e",
        "type": "function",
        "z": "6ee67fdb81228536",
        "name": "Set Up Payload",
        "func": "var noteTime = global.get(\"notetime\");\nnode.warn(\"jumping to time\" + noteTime);\nvar postValue = {\"transports\": [{\"time\":noteTime} ] };\nmsg.payload = postValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 2460,
        "wires": [
            [
                "5b8de3b513c2383f",
                "efddda3dc89fe2c4"
            ]
        ]
    },
    {
        "id": "5b8de3b513c2383f",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 2520,
        "wires": []
    },
    {
        "id": "e98ca5a4c4e3fb14",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Jump to Note.",
        "info": "",
        "x": 810,
        "y": 2400,
        "wires": []
    },
    {
        "id": "4d9795efe73e48b5",
        "type": "link out",
        "z": "6ee67fdb81228536",
        "name": "refresh all",
        "mode": "link",
        "links": [
            "bc7e143314778166",
            "f19ca9212ab758fb",
            "0703e190c7635511"
        ],
        "x": 1625,
        "y": 80,
        "wires": []
    },
    {
        "id": "bc7e143314778166",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 1",
        "links": [
            "4d9795efe73e48b5"
        ],
        "x": 165,
        "y": 1620,
        "wires": [
            [
                "cf43334f2e1c44bb"
            ]
        ]
    },
    {
        "id": "387b8a62c66bc3c3",
        "type": "function",
        "z": "6ee67fdb81228536",
        "name": "Set CUES Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.annotations.tags.length; i++) {\n    if (msg.payload.result.annotations.tags[i].type == \"CUE\") {\n        annot.push({[msg.payload.result.annotations.tags[i].value]: msg.payload.result.annotations.tags[i].time});\n    }\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 340,
        "wires": [
            [
                "a130c3345cdb5c72"
            ]
        ]
    },
    {
        "id": "a130c3345cdb5c72",
        "type": "ui_dropdown",
        "z": "6ee67fdb81228536",
        "name": "",
        "label": "Cues",
        "tooltip": "",
        "place": "Select option",
        "group": "6497f2a9081c251f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2530,
        "y": 340,
        "wires": [
            [
                "93e82eaa503b4d60"
            ]
        ]
    },
    {
        "id": "93e82eaa503b4d60",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cuetime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "8d2d45e4d2d988ea",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "6497f2a9081c251f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jump To Cue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/cue",
        "topicType": "str",
        "x": 170,
        "y": 2580,
        "wires": [
            [
                "7fd58ba80f99d0c7"
            ]
        ]
    },
    {
        "id": "7fd58ba80f99d0c7",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 2580,
        "wires": [
            [
                "3ae36c3c80337a41"
            ]
        ]
    },
    {
        "id": "3ae36c3c80337a41",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 500,
        "y": 2580,
        "wires": [
            [
                "12b4d737359b4105"
            ]
        ]
    },
    {
        "id": "12b4d737359b4105",
        "type": "function",
        "z": "6ee67fdb81228536",
        "name": "Set Up Payload",
        "func": "var cueTime = global.get(\"cuetime\");\nnode.warn(\"jumping to time\" + cueTime);\nvar postValue = {\"transports\": [{\"time\":cueTime} ] };\nmsg.payload = postValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 2580,
        "wires": [
            [
                "3c4b09b7bc6716bf",
                "de9c6295b8f128a4"
            ]
        ]
    },
    {
        "id": "7ea49aaba2782f84",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Jump To Cue",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1170,
        "y": 2580,
        "wires": [
            [
                "e637a7193b37be3f"
            ]
        ]
    },
    {
        "id": "3c4b09b7bc6716bf",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/gototime",
        "output": "str",
        "x": 980,
        "y": 2580,
        "wires": [
            [
                "7ea49aaba2782f84"
            ]
        ]
    },
    {
        "id": "e637a7193b37be3f",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 2580,
        "wires": [
            [
                "38af2f1445c91d6b"
            ]
        ]
    },
    {
        "id": "38af2f1445c91d6b",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 2580,
        "wires": []
    },
    {
        "id": "de9c6295b8f128a4",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2660,
        "wires": []
    },
    {
        "id": "7312413d1d1394e8",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Jump to Cue.",
        "info": "",
        "x": 790,
        "y": 2520,
        "wires": []
    },
    {
        "id": "8e5362790e5d822d",
        "type": "function",
        "z": "6ee67fdb81228536",
        "name": "Set SECTIONS Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.annotations.sections.length; i++) {\n    annot.push({[msg.payload.result.annotations.sections[i].index]: msg.payload.result.annotations.sections[i].time});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 400,
        "wires": [
            [
                "ae8223a4874a655c"
            ]
        ]
    },
    {
        "id": "ae8223a4874a655c",
        "type": "ui_dropdown",
        "z": "6ee67fdb81228536",
        "name": "",
        "label": "Sections",
        "tooltip": "",
        "place": "Select option",
        "group": "6497f2a9081c251f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2560,
        "y": 400,
        "wires": [
            [
                "37f20f573b5cb8b8"
            ]
        ]
    },
    {
        "id": "37f20f573b5cb8b8",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sectiontime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2780,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "6c77a73e863d1c6e",
        "type": "switch",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 2720,
        "wires": [
            [
                "167c537111cf0301"
            ]
        ]
    },
    {
        "id": "167c537111cf0301",
        "type": "reusable",
        "z": "6ee67fdb81228536",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 500,
        "y": 2720,
        "wires": [
            [
                "c6e14b59ebcede7d"
            ]
        ]
    },
    {
        "id": "c6e14b59ebcede7d",
        "type": "function",
        "z": "6ee67fdb81228536",
        "name": "Set Up Payload",
        "func": "var sectionTime = global.get(\"sectiontime\");\nnode.warn(\"jumping to time\" + sectionTime);\nvar postValue = {\"transports\": [{\"time\":sectionTime} ] };\nmsg.payload = postValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 2720,
        "wires": [
            [
                "b84c257c7bba0a95",
                "249bac9f6a2fcf4b"
            ]
        ]
    },
    {
        "id": "fc3447ca38c6f280",
        "type": "http request",
        "z": "6ee67fdb81228536",
        "name": "Jump To Section",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1180,
        "y": 2720,
        "wires": [
            [
                "1081111bdbd50149"
            ]
        ]
    },
    {
        "id": "b84c257c7bba0a95",
        "type": "template",
        "z": "6ee67fdb81228536",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/gototime",
        "output": "str",
        "x": 980,
        "y": 2720,
        "wires": [
            [
                "fc3447ca38c6f280"
            ]
        ]
    },
    {
        "id": "1081111bdbd50149",
        "type": "json",
        "z": "6ee67fdb81228536",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 2720,
        "wires": [
            [
                "4a85af32f49c7561"
            ]
        ]
    },
    {
        "id": "249bac9f6a2fcf4b",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2800,
        "wires": []
    },
    {
        "id": "c86ef6b19f2e95be",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "",
        "group": "6497f2a9081c251f",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jump To Section By Index",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/cue",
        "topicType": "str",
        "x": 130,
        "y": 2720,
        "wires": [
            [
                "6c77a73e863d1c6e"
            ]
        ]
    },
    {
        "id": "4a85af32f49c7561",
        "type": "debug",
        "z": "6ee67fdb81228536",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 2720,
        "wires": []
    },
    {
        "id": "d6fb63f8d302ed4f",
        "type": "comment",
        "z": "6ee67fdb81228536",
        "name": "Jump to Section.",
        "info": "",
        "x": 760,
        "y": 2660,
        "wires": []
    },
    {
        "id": "755591f22e24fc07",
        "type": "ui_dropdown",
        "z": "6ee67fdb81228536",
        "name": "",
        "label": "Track",
        "tooltip": "",
        "place": "Select option",
        "group": "a1fb7fc342aba8c0",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1650,
        "y": 300,
        "wires": [
            [
                "97360ed480a3c0d0"
            ]
        ]
    },
    {
        "id": "c2d6e4abeb64f462",
        "type": "function",
        "z": "6ee67fdb81228536",
        "name": "Set TRACKS Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.length; i++) {\n    annot.push({[msg.payload.result[i].currentTrack.name]: msg.payload.result[i].currentTrack.uid});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 300,
        "wires": [
            [
                "755591f22e24fc07"
            ]
        ]
    },
    {
        "id": "0703e190c7635511",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 9",
        "links": [
            "4d9795efe73e48b5"
        ],
        "x": 325,
        "y": 360,
        "wires": [
            [
                "c9fbfaecb0265ed1"
            ]
        ]
    },
    {
        "id": "97360ed480a3c0d0",
        "type": "change",
        "z": "6ee67fdb81228536",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "track",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 220,
        "wires": [
            [
                "d23855ce5144bdaf"
            ]
        ]
    },
    {
        "id": "d23855ce5144bdaf",
        "type": "link out",
        "z": "6ee67fdb81228536",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "5e798412fc3aca1d",
            "0ef626aa8f239070"
        ],
        "x": 2145,
        "y": 220,
        "wires": []
    },
    {
        "id": "5e798412fc3aca1d",
        "type": "link in",
        "z": "6ee67fdb81228536",
        "name": "link in 10",
        "links": [
            "d23855ce5144bdaf"
        ],
        "x": 745,
        "y": 420,
        "wires": [
            [
                "9a9506c9cec1efa2"
            ]
        ]
    },
    {
        "id": "e8876e638a1ffa75",
        "type": "ui_button",
        "z": "6ee67fdb81228536",
        "name": "Refresh Tracks",
        "group": "a1fb7fc342aba8c0",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh Tracks",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "1e9b606d8c146df5"
            ]
        ]
    },
    {
        "id": "69683434e275eecb",
        "type": "udp out",
        "z": "7e0e785c8dcb296e",
        "name": "Send to Lighting",
        "addr": "10.10.100.249",
        "iface": "",
        "port": "6630",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1480,
        "y": 380,
        "wires": []
    },
    {
        "id": "56e8ea7de2f43f2a",
        "type": "osc",
        "z": "7e0e785c8dcb296e",
        "name": "",
        "path": "/cmd",
        "metadata": false,
        "x": 1330,
        "y": 380,
        "wires": [
            [
                "69683434e275eecb"
            ]
        ]
    },
    {
        "id": "b3d24842ba39ae04",
        "type": "function",
        "z": "7e0e785c8dcb296e",
        "name": "Track Attributes",
        "func": "// Assume the slider or color picker value comes in as msg.payload\nvar inputValue = msg.payload;\n\n// Check if we have a slider label or name in msg.topic (e.g., \"pan\", \"tilt\", etc.)\nvar attribute = msg.topic || \"unknown\";  // Default to \"unknown\" if no topic is set\n\n// Check if the input is a color string (in rgb format)\nif (typeof inputValue === 'string' && inputValue.startsWith('rgb')) {\n    // Parse the color value (e.g., \"rgb(24, 231, 76)\")\n    var rgbMatch = inputValue.match(/^rgb\\((\\d+), (\\d+), (\\d+)\\)$/);\n\n    if (rgbMatch) {\n        // Extract RGB values from the matched groups\n        var r = parseInt(rgbMatch[1]);\n        var g = parseInt(rgbMatch[2]);\n        var b = parseInt(rgbMatch[3]);\n\n        // Convert RGB values to the range 0-1\n        r = (r / 255).toFixed(2);\n        g = (g / 255).toFixed(2);\n        b = (b / 255).toFixed(2);\n\n        // Build the OSC commands for the color components\n        var colorCmds = [\n            `Attribute ColorRGB_r At ${r}`,\n            `Attribute ColorRGB_g At ${g}`,\n            `Attribute ColorRGB_b At ${b}`\n        ];\n\n        // Set the OSC command to the message payload\n        msg.payload = colorCmds.join(\"; \");\n        node.warn(\"Sending Color Attribute: \" + msg.payload);  // Debug log for the color\n        return msg;  // Send the OSC command for the color\n    } else {\n        node.warn(\"Invalid color format: \" + inputValue);  // Warn if the color format is incorrect\n        return null;  // Don't send anything if the format is invalid\n    }\n}\n\n// If it's not a color, assume it's a slider value (number)\nif (inputValue !== undefined) {\n    var attributeCommand = `Attribute ${attribute} At ${inputValue.toFixed(2)}`;\n    msg.payload = attributeCommand;  // Set the OSC command for the slider to the message payload\n    node.warn(\"Sending Slider Attribute: \" + attributeCommand);  // Debug log for the slider\n    return msg;\n}\n\nreturn null;  // If no value, don't send anything\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 440,
        "wires": [
            [
                "e650d1e2ee67b8b8"
            ]
        ]
    },
    {
        "id": "e650d1e2ee67b8b8",
        "type": "function",
        "z": "7e0e785c8dcb296e",
        "name": "Build OSC Command",
        "func": "// Retrieve the selected fixtures from the flow context (this comes from the Fixture Tracker node)\nvar selectedFixtures = flow.get(\"selectedFixtures\") || [];  // Default to empty array if no fixtures are selected\n\n// Retrieve the OSC commands from the attribute node (this comes from the Attribute node)\nvar attributeCommand = msg.payload || \"\";  // This should be a string like \"Attribute pan At 45.00\" or color commands\n\n// If no selected fixtures or no attribute command, do nothing\nif (selectedFixtures.length === 0 || !attributeCommand) {\n    return null;  // Don't send anything if there's no fixtures or no attribute command\n}\n\n// Build the fixture string, including \"Fixture\" only at the start of the list\nvar fixtureString = \"Fixture \" + selectedFixtures.map(fixture => fixture.replace(\"Fixture \", \"\")).join(\" + \");  // e.g., \"Fixture 101 + 102\"\n\n// Combine the fixture string and the attribute command(s) into the final OSC message\nvar oscMessage = `${fixtureString}; ${attributeCommand}`;\n\n// Set the OSC message to the message payload\nmsg.payload = oscMessage;\n\n// Optionally, you can add a warning log to verify the message being sent\nnode.warn(\"Sending OSC Command: \" + oscMessage);\n\n// Return the message to be sent to the OSC node\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "56e8ea7de2f43f2a"
            ]
        ]
    },
    {
        "id": "93647f42b94896ef",
        "type": "function",
        "z": "7e0e785c8dcb296e",
        "name": "Track Fixtures",
        "func": "// Retrieve or initialize the stored fixture states\nvar allFixtures = flow.get(\"allFixtures\") || {};  // Ensure you have a base object\n\n// Get the fixture name and state from the UI switch\nvar fixture = msg.topic;  // Should be \"Fixture 101\", \"Fixture 102\", etc.\nvar state = msg.payload;  // Will be the fixture name when ON, \"null\" when OFF\n\n// If the fixture is ON, store it in the object (only once)\nif (state !== \"null\" && state !== null && state !== undefined) {\n    allFixtures[fixture] = true;  // Store a boolean flag to indicate the fixture is ON\n} \n// If the fixture is OFF, remove it from tracking\nelse {\n    delete allFixtures[fixture];\n}\n\n// Convert object keys (which are the fixture names) to an array of active fixture names\nvar selectedFixtures = Object.keys(allFixtures); \n\n// Store only the selected fixtures in the flow context\nflow.set(\"selectedFixtures\", selectedFixtures);  // Store the array of selected fixtures\n\n// If no fixtures are active, return null instead of an empty array\nmsg.payload = selectedFixtures.length > 0 ? selectedFixtures : null;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 380,
        "wires": [
            [
                "e650d1e2ee67b8b8"
            ]
        ]
    },
    {
        "id": "651267f1d1619d27",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "All Fixtures",
        "label": "All Fixtures",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Group 1",
        "topicType": "str",
        "onvalue": "Group 1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 310,
        "y": 80,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "ede91271e4865694",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuzes",
        "label": "Fuzes",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Group 2",
        "topicType": "str",
        "onvalue": "Group 2",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "ac15cf42029ba1cb",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Panels",
        "label": "Panels",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Group 6",
        "topicType": "str",
        "onvalue": "Group 6",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "7d90ac13904ad826",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuze 1",
        "label": "Fuze 1",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 101",
        "topicType": "str",
        "onvalue": "Fixture 101",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "f7706dd8f85fa794",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuze 2",
        "label": "Fuze 2",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 102",
        "topicType": "str",
        "onvalue": "Fixture 102",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "cbb225cf3c9fe7c0",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuze 3",
        "label": "Fuze 3",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 103",
        "topicType": "str",
        "onvalue": "Fixture 103",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 280,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "c1b81716162d371e",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuze 4",
        "label": "Fuze 4",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 104",
        "topicType": "str",
        "onvalue": "Fixture 104",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 320,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "de9b21fd7b902535",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuze 5",
        "label": "Fuze 5",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 105",
        "topicType": "str",
        "onvalue": "Fixture 105",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "cdfc1e928b3d55a1",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuze 6",
        "label": "Fuze 6",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 106",
        "topicType": "str",
        "onvalue": "Fixture 106",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "25707bc446bea5bf",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuze 7",
        "label": "Fuze 7",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 107",
        "topicType": "str",
        "onvalue": "Fixture 107",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "6cf655d2383ac5bf",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Fuze 8",
        "label": "Fuze 8",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 108",
        "topicType": "str",
        "onvalue": "Fixture 108",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 330,
        "y": 480,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "355f39fee481331f",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Panel 1",
        "label": "Panel 1",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 201",
        "topicType": "str",
        "onvalue": "Fixture 201",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 520,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "c6c4236f510ed816",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Panel 2",
        "label": "Panel 2",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 202",
        "topicType": "str",
        "onvalue": "Fixture 202",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 560,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "ec3d522c0158ccab",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Panel 3",
        "label": "Panel 3",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 203",
        "topicType": "str",
        "onvalue": "Fixture 203",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "4ea702dece7b0ee8",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Panel 4",
        "label": "Panel 4",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 204",
        "topicType": "str",
        "onvalue": "Fixture 204",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 640,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "d924167e5d7515c4",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Panel 5",
        "label": "Panel 5",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 205",
        "topicType": "str",
        "onvalue": "Fixture 205",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 680,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "f31bef3050762fae",
        "type": "ui_switch",
        "z": "7e0e785c8dcb296e",
        "name": "Panel 6",
        "label": "Panel 6",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Fixture 206",
        "topicType": "str",
        "onvalue": "Fixture 206",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "null",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 720,
        "wires": [
            [
                "93647f42b94896ef"
            ]
        ]
    },
    {
        "id": "5685dafd21b5c313",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Dimmer",
        "label": "Dimmer",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Dimmer",
        "topicType": "str",
        "min": "0",
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 620,
        "y": 440,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "e483133e343689e0",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Pan",
        "label": "Pan",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Pan",
        "topicType": "str",
        "min": "-270",
        "max": "270",
        "step": "",
        "className": "",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "f5f254da58dff150",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Tilt",
        "label": "Tilt",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Tilt",
        "topicType": "str",
        "min": "-135",
        "max": "135",
        "step": "",
        "className": "",
        "x": 630,
        "y": 520,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "0aeea2d666374c31",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Focus",
        "label": "Focus",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Focus1",
        "topicType": "str",
        "min": "0",
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 630,
        "y": 760,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "c1c3c5f41ff6eeba",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Zoom",
        "label": "Zoom",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Zoom",
        "topicType": "str",
        "min": "12.84",
        "max": "21.25",
        "step": "",
        "className": "",
        "x": 630,
        "y": 800,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "65787bdfc44d9db7",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Color C",
        "label": "Color C",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "ColorRGB_C",
        "topicType": "str",
        "min": "0",
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 620,
        "y": 680,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "262acf26d2dcf905",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Color Temp",
        "label": "Color Temp",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "ColorRGB_RY",
        "topicType": "str",
        "min": "0",
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 610,
        "y": 720,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "4e76b516cff09d9e",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Gobo Wheel 1",
        "label": "Gobo Wheel 1",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Gobo1",
        "topicType": "str",
        "min": "0",
        "max": "7",
        "step": "0.01",
        "className": "",
        "x": 600,
        "y": 560,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "2a69fa313a1c3ce7",
        "type": "ui_slider",
        "z": "7e0e785c8dcb296e",
        "name": "Gobo Wheel 2",
        "label": "Gobo Wheel 2",
        "tooltip": "",
        "group": "eb218ffe29b7dc7a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Gobo2",
        "topicType": "str",
        "min": "0",
        "max": "8",
        "step": "0.01",
        "className": "",
        "x": 600,
        "y": 600,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "45e2490a3d84a9b7",
        "type": "ui_colour_picker",
        "z": "7e0e785c8dcb296e",
        "name": "Color RGB",
        "label": "Color RGB",
        "group": "eb218ffe29b7dc7a",
        "format": "rgb",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": true,
        "showAlpha": false,
        "showLightness": false,
        "square": "true",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 610,
        "y": 640,
        "wires": [
            [
                "b3d24842ba39ae04"
            ]
        ]
    },
    {
        "id": "f7d925df3e078af6",
        "type": "telnet-send",
        "z": "8e5173d565be7294",
        "name": "",
        "connection": "e86c5e5820fa7b80",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "5cbc6e955d18cb81",
        "type": "inject",
        "z": "8e5173d565be7294",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "f7d925df3e078af6"
            ]
        ]
    },
    {
        "id": "05f0a5531c3744f5",
        "type": "telnet-read",
        "z": "8e5173d565be7294",
        "name": "",
        "connection": "e86c5e5820fa7b80",
        "x": 410,
        "y": 640,
        "wires": [
            [
                "7e3564d5b30d4d95",
                "c1a1b3f7221bb80a"
            ]
        ]
    },
    {
        "id": "7e3564d5b30d4d95",
        "type": "debug",
        "z": "8e5173d565be7294",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 640,
        "wires": []
    },
    {
        "id": "c1a1b3f7221bb80a",
        "type": "ui_text",
        "z": "8e5173d565be7294",
        "group": "452a573972d851ca",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 720,
        "wires": []
    },
    {
        "id": "a73c7e49586c5f82",
        "type": "telnet-send",
        "z": "8e5173d565be7294",
        "name": "",
        "connection": "e86c5e5820fa7b80",
        "x": 610,
        "y": 320,
        "wires": []
    },
    {
        "id": "c8f47c01ade6522b",
        "type": "inject",
        "z": "8e5173d565be7294",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "record",
        "payloadType": "str",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "a73c7e49586c5f82"
            ]
        ]
    },
    {
        "id": "53bae9631ed9e2f2",
        "type": "telnet-read",
        "z": "8e5173d565be7294",
        "name": "",
        "connection": "e86c5e5820fa7b80",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "d1e7d3863cbfe4f8",
                "64af1090dcb70df5"
            ]
        ]
    },
    {
        "id": "d1e7d3863cbfe4f8",
        "type": "debug",
        "z": "8e5173d565be7294",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "64af1090dcb70df5",
        "type": "ui_text",
        "z": "8e5173d565be7294",
        "group": "452a573972d851ca",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 480,
        "wires": []
    },
    {
        "id": "6b4020fda4a7cfbc",
        "type": "reusable-in",
        "z": "8e5173d565be7294",
        "name": "Get Director IP",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 260,
        "y": 60,
        "wires": [
            [
                "768831e667686b87"
            ]
        ]
    },
    {
        "id": "5f1ba806752ebb4a",
        "type": "reusable-out",
        "z": "8e5173d565be7294",
        "name": "reusable out",
        "position": 1,
        "x": 690,
        "y": 60,
        "wires": []
    },
    {
        "id": "768831e667686b87",
        "type": "change",
        "z": "8e5173d565be7294",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IP",
                "pt": "msg",
                "to": "127.0.0.1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 60,
        "wires": [
            [
                "5f1ba806752ebb4a"
            ]
        ]
    },
    {
        "id": "19eca546e804d8fb",
        "type": "ui_button",
        "z": "8e5173d565be7294",
        "name": "",
        "group": "452a573972d851ca",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Record",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "record",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 260,
        "wires": [
            [
                "a73c7e49586c5f82"
            ]
        ]
    },
    {
        "id": "ee8fc7f93d1e0521",
        "type": "ui_button",
        "z": "8e5173d565be7294",
        "name": "",
        "group": "452a573972d851ca",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "f7d925df3e078af6"
            ]
        ]
    }
]