previousVersions/Compiled_v14_ColorsWork.json
[
    {
        "id": "54f84335718d5fde",
        "type": "tab",
        "label": "Disguise - Casey",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d223ebf7b465dc4",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Get Active Transport",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 300,
        "wires": [
            [
                "e2c8dc63a3fbccf5"
            ]
        ]
    },
    {
        "id": "e2c8dc63a3fbccf5",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1150,
        "y": 300,
        "wires": [
            [
                "17032203259d6e1d"
            ]
        ]
    },
    {
        "id": "bbfa24ee84ac4591",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Get Transport Annotations",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1660,
        "y": 420,
        "wires": [
            [
                "91c9e17c6e36f790"
            ]
        ]
    },
    {
        "id": "91c9e17c6e36f790",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1950,
        "y": 420,
        "wires": [
            [
                "f2611c4624f7453a",
                "e8326d30ee3b78d0",
                "a578519e22d1b3cd"
            ]
        ]
    },
    {
        "id": "93b0ca44e6df497b",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get tracks.",
        "info": "",
        "x": 900,
        "y": 240,
        "wires": []
    },
    {
        "id": "a520d7f3b6191775",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get all Notes, Tags, and Sections in current track.",
        "info": "",
        "x": 1000,
        "y": 360,
        "wires": []
    },
    {
        "id": "4f7ae2fafda65796",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Health checkup.",
        "info": "",
        "x": 960,
        "y": 640,
        "wires": []
    },
    {
        "id": "d4e49c2b9731677c",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Get Health",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 700,
        "wires": [
            [
                "81772bf4d1a6039f"
            ]
        ]
    },
    {
        "id": "81772bf4d1a6039f",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 700,
        "wires": [
            [
                "f1ad67f26b559beb",
                "d2099a426449589e",
                "44c4195c4bc27c12",
                "bda2fd8bdcbf47e3"
            ]
        ]
    },
    {
        "id": "7c34440f782a41db",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get Project.",
        "info": "",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "98976d3fc1996745",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Get Project",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 580,
        "wires": [
            [
                "ea0aa35ab1bd4e5b"
            ]
        ]
    },
    {
        "id": "ea0aa35ab1bd4e5b",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "21e2af6dac0897b1"
            ]
        ]
    },
    {
        "id": "96906b1ba7ef6de2",
        "type": "reusable-in",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 280,
        "y": 920,
        "wires": [
            [
                "e170e4b9705ef311"
            ]
        ]
    },
    {
        "id": "6d38aedce23d4c8d",
        "type": "reusable-out",
        "z": "54f84335718d5fde",
        "name": "reusable out",
        "position": 1,
        "x": 1050,
        "y": 920,
        "wires": []
    },
    {
        "id": "18963156b49fa8bb",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "IP",
                "pt": "msg",
                "to": "directorip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 920,
        "wires": [
            [
                "6d38aedce23d4c8d"
            ]
        ]
    },
    {
        "id": "b1489084cde5b63f",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get specified Director IP.",
        "info": "",
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "70a6148a34e43e1f",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 520,
        "y": 300,
        "wires": [
            [
                "a51279150215a2df"
            ]
        ],
        "outputLabels": [
            "reusable out"
        ]
    },
    {
        "id": "a51279150215a2df",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/activetransport",
        "output": "str",
        "x": 720,
        "y": 300,
        "wires": [
            [
                "3d223ebf7b465dc4"
            ]
        ]
    },
    {
        "id": "a8473c7ba3660173",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 1060,
        "y": 420,
        "wires": [
            [
                "2338c96064346008"
            ]
        ]
    },
    {
        "id": "2338c96064346008",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/annotations?uid={{global.track}}",
        "output": "str",
        "x": 1320,
        "y": 420,
        "wires": [
            [
                "bbfa24ee84ac4591"
            ]
        ]
    },
    {
        "id": "0b7416d62144ca4e",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 580,
        "y": 700,
        "wires": [
            [
                "637f17672cd7c9de"
            ]
        ]
    },
    {
        "id": "637f17672cd7c9de",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/status/health",
        "output": "str",
        "x": 760,
        "y": 700,
        "wires": [
            [
                "d4e49c2b9731677c"
            ]
        ]
    },
    {
        "id": "7ebe1ad167c6ce01",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "1dbc50fa38e107a4"
            ]
        ],
        "outputLabels": [
            "reusable out"
        ]
    },
    {
        "id": "1dbc50fa38e107a4",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/status/project",
        "output": "str",
        "x": 760,
        "y": 580,
        "wires": [
            [
                "98976d3fc1996745"
            ]
        ]
    },
    {
        "id": "bb24d09e0f4f6b7c",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Get RenderStream Layers",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 1820,
        "wires": [
            [
                "43ad22da60c22b6d"
            ]
        ]
    },
    {
        "id": "43ad22da60c22b6d",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1110,
        "y": 1820,
        "wires": [
            [
                "a3c3c76d05226960"
            ]
        ]
    },
    {
        "id": "1123d7361b5d0171",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get RenderStream Layer List",
        "info": "",
        "x": 820,
        "y": 1760,
        "wires": []
    },
    {
        "id": "23a2cb195e6908d9",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 560,
        "y": 1820,
        "wires": [
            [
                "040d3052f37f3c6f"
            ]
        ]
    },
    {
        "id": "040d3052f37f3c6f",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layers",
        "output": "str",
        "x": 720,
        "y": 1820,
        "wires": [
            [
                "bb24d09e0f4f6b7c"
            ]
        ]
    },
    {
        "id": "388612ec7e82ba14",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "7a01a667fe9ee8d2"
            ]
        ]
    },
    {
        "id": "cdcc2fed89e875bb",
        "type": "reusable-in",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 300,
        "y": 820,
        "wires": [
            [
                "0371990089503fbb"
            ]
        ]
    },
    {
        "id": "7607a2a6eff579d5",
        "type": "reusable-out",
        "z": "54f84335718d5fde",
        "name": "reusable out",
        "position": 1,
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "559658893d5e7440",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get OSC Info for Transport Control",
        "info": "",
        "x": 840,
        "y": 760,
        "wires": []
    },
    {
        "id": "419fafa92f2c6bfa",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "oscport",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 820,
        "wires": [
            [
                "7607a2a6eff579d5"
            ]
        ]
    },
    {
        "id": "a61e2bd3931a704d",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "7a01a667fe9ee8d2",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "a61e2bd3931a704d",
                "d4045a629aca3bfa",
                "ae6a9ff8d95c9b11"
            ]
        ]
    },
    {
        "id": "046a3a746bb081e1",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Play current track through.",
        "info": "",
        "x": 870,
        "y": 960,
        "wires": []
    },
    {
        "id": "3be72144d6241e99",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1160,
        "wires": [
            [
                "55f5251b21863ed8"
            ]
        ]
    },
    {
        "id": "0fcdb4b09e0b9218",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1160,
        "wires": []
    },
    {
        "id": "55f5251b21863ed8",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1160,
        "wires": [
            [
                "0fcdb4b09e0b9218"
            ]
        ]
    },
    {
        "id": "8eaa5be422c7a720",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Stop current track.",
        "info": "",
        "x": 870,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b8c01d09ae509d8b",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1240,
        "wires": [
            [
                "850d95d76aa95029"
            ]
        ]
    },
    {
        "id": "6262e802f51a3d63",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1240,
        "wires": []
    },
    {
        "id": "850d95d76aa95029",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1240,
        "wires": [
            [
                "6262e802f51a3d63"
            ]
        ]
    },
    {
        "id": "8b4adcc45d06da30",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Fade down.",
        "info": "",
        "x": 830,
        "y": 1200,
        "wires": []
    },
    {
        "id": "20ae0808b379f1ad",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1320,
        "wires": [
            [
                "7b5c38cc5225da7a"
            ]
        ]
    },
    {
        "id": "9374247b7098558f",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7b5c38cc5225da7a",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1320,
        "wires": [
            [
                "9374247b7098558f"
            ]
        ]
    },
    {
        "id": "41de3d3861f72736",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Fade up.",
        "info": "",
        "x": 820,
        "y": 1280,
        "wires": []
    },
    {
        "id": "f787ddf7a2288bcc",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1500,
        "wires": [
            [
                "3d37235997aac664"
            ]
        ]
    },
    {
        "id": "0b6abc00e1318d4c",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1500,
        "wires": []
    },
    {
        "id": "3d37235997aac664",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1500,
        "wires": [
            [
                "0b6abc00e1318d4c"
            ]
        ]
    },
    {
        "id": "85dea55449c99e01",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Next section.",
        "info": "",
        "x": 830,
        "y": 1460,
        "wires": []
    },
    {
        "id": "55ef0e7620be2097",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1580,
        "wires": [
            [
                "19413258412f8622"
            ]
        ]
    },
    {
        "id": "f2cd0a152d7f48dc",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1580,
        "wires": []
    },
    {
        "id": "19413258412f8622",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1580,
        "wires": [
            [
                "f2cd0a152d7f48dc"
            ]
        ]
    },
    {
        "id": "2674be47d41dd246",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Previous section.",
        "info": "",
        "x": 840,
        "y": 1540,
        "wires": []
    },
    {
        "id": "7a598991462bfb16",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1400,
        "wires": [
            [
                "39914245b3d2c7e3"
            ]
        ]
    },
    {
        "id": "4b7c4b67a8be58da",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1400,
        "wires": []
    },
    {
        "id": "39914245b3d2c7e3",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1400,
        "wires": [
            [
                "4b7c4b67a8be58da"
            ]
        ]
    },
    {
        "id": "7c2a353e2184323e",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Hold.",
        "info": "",
        "x": 810,
        "y": 1360,
        "wires": []
    },
    {
        "id": "d8ce0289d3325282",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Trans OSC Info",
        "target": "get trans osc info",
        "outputs": 1,
        "x": 770,
        "y": 1080,
        "wires": [
            [
                "8ae0a0ad9caf5e35"
            ]
        ]
    },
    {
        "id": "33b8f4b4c2cb5148",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 1150,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8ae0a0ad9caf5e35",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "33b8f4b4c2cb5148"
            ]
        ]
    },
    {
        "id": "12b863190a9165ac",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Play current track to end of section.",
        "info": "",
        "x": 900,
        "y": 1040,
        "wires": []
    },
    {
        "id": "7c64d49d42246541",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Start Renderstream",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1390,
        "y": 2140,
        "wires": [
            [
                "25774e44a8cc8e93"
            ]
        ]
    },
    {
        "id": "a60ddd85337e9956",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Start RenderStream workload.",
        "info": "",
        "x": 880,
        "y": 2080,
        "wires": []
    },
    {
        "id": "508b85cdb3b93ec6",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 600,
        "y": 2140,
        "wires": [
            [
                "549b91f157a49e1c"
            ]
        ]
    },
    {
        "id": "4fceed260da23912",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/startlayers",
        "output": "str",
        "x": 1160,
        "y": 2140,
        "wires": [
            [
                "7c64d49d42246541"
            ]
        ]
    },
    {
        "id": "f562bac6eb8e48d9",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Stop Renderstream",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1410,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "0e28b996ef73d840",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Stop RenderStream workload.",
        "info": "",
        "x": 880,
        "y": 2200,
        "wires": []
    },
    {
        "id": "0a97f17ca38e66d7",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 600,
        "y": 2260,
        "wires": [
            [
                "c3cf6a5b1881c6e7"
            ]
        ]
    },
    {
        "id": "488cc20438e08058",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/stoplayers",
        "output": "str",
        "x": 1160,
        "y": 2260,
        "wires": [
            [
                "f562bac6eb8e48d9"
            ]
        ]
    },
    {
        "id": "e81077b26301fd02",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Get RenderStream Layer Status",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 1920,
        "wires": [
            [
                "1dbaf0aaa7ece6c3"
            ]
        ]
    },
    {
        "id": "10869dcbffaee468",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "Layer Status",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1800,
        "wires": []
    },
    {
        "id": "1dbaf0aaa7ece6c3",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 1920,
        "wires": [
            [
                "c2965ba61f753c0d",
                "3ed43c7a9982502a"
            ]
        ]
    },
    {
        "id": "81de7309accffd89",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get RenderStream Layer Status",
        "info": "",
        "x": 1150,
        "y": 1880,
        "wires": []
    },
    {
        "id": "76ed73e794800e81",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 560,
        "y": 1920,
        "wires": [
            [
                "4539b7f950d47fea"
            ]
        ]
    },
    {
        "id": "cec0198fd75154a5",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layerstatus?uid={{uid}}",
        "output": "str",
        "x": 920,
        "y": 1920,
        "wires": [
            [
                "e81077b26301fd02"
            ]
        ]
    },
    {
        "id": "4539b7f950d47fea",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "uid",
                "pt": "msg",
                "to": "renderstreamuid",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1920,
        "wires": [
            [
                "cec0198fd75154a5",
                "cbf047ee1da37287"
            ]
        ]
    },
    {
        "id": "a6d0264bc286b85f",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Get RenderStream Layer Config",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 2020,
        "wires": [
            [
                "4d99bbaefa7a7715"
            ]
        ]
    },
    {
        "id": "4d99bbaefa7a7715",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 2020,
        "wires": [
            [
                "72e3de0ac465a6d8",
                "9df1501e492beb5b"
            ]
        ]
    },
    {
        "id": "1c20cce985f802aa",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get RenderStream Layer Config Info",
        "info": "",
        "x": 1140,
        "y": 1980,
        "wires": []
    },
    {
        "id": "cbf047ee1da37287",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/renderstream/layerconfig?uid={{uid}}",
        "output": "str",
        "x": 920,
        "y": 2020,
        "wires": [
            [
                "a6d0264bc286b85f"
            ]
        ]
    },
    {
        "id": "6b3d1213ce99fc2c",
        "type": "inject",
        "z": "54f84335718d5fde",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "5f0b79076abccc92"
            ]
        ]
    },
    {
        "id": "ff63b206299a9670",
        "type": "ui_dropdown",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Notes",
        "tooltip": "",
        "place": "Select option",
        "group": "d4d09e44e16e981c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2530,
        "y": 280,
        "wires": [
            [
                "082573caf33d095e"
            ]
        ]
    },
    {
        "id": "f2611c4624f7453a",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "Set NOTES Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.annotations.notes.length; i++) {\n    annot.push({[msg.payload.result.annotations.notes[i].text]: msg.payload.result.annotations.notes[i].time});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2290,
        "y": 280,
        "wires": [
            [
                "ff63b206299a9670"
            ]
        ]
    },
    {
        "id": "b4d99edb7a9af1d7",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "b1d45df3ad4b893a",
        "order": 1,
        "width": "4",
        "height": "3",
        "name": "",
        "label": "Current Project",
        "format": "Name: {{msg.payload.result.projectPath}} <br/> Version: {{payload.result.version.major}}.{{payload.result.version.minor}}.{{payload.result.version.hotfix}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1800,
        "y": 540,
        "wires": []
    },
    {
        "id": "21e2af6dac0897b1",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload.result.projectPath",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "project",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1310,
        "y": 560,
        "wires": [
            [],
            [
                "5d37918a75d42414"
            ]
        ]
    },
    {
        "id": "5d37918a75d42414",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Set global.project",
        "rules": [
            {
                "t": "set",
                "p": "project",
                "pt": "global",
                "to": "payload.result.projectPath",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 540,
        "wires": [
            [
                "b4d99edb7a9af1d7"
            ]
        ]
    },
    {
        "id": "f1ad67f26b559beb",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "32b42920a7ab347e",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Machine Name",
        "format": "{{msg.payload.result[0].machine.name}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1380,
        "y": 620,
        "wires": []
    },
    {
        "id": "44c4195c4bc27c12",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "32b42920a7ab347e",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Video Dropped Frames",
        "format": "{{msg.payload.result[0].status.videoDroppedFrames}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 700,
        "wires": []
    },
    {
        "id": "d2099a426449589e",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "32b42920a7ab347e",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Average FPS",
        "format": "{{msg.payload.result[0].status.averageFPS}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1370,
        "y": 660,
        "wires": []
    },
    {
        "id": "bda2fd8bdcbf47e3",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "32b42920a7ab347e",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Video Missed Frames",
        "format": "{{msg.payload.result[0].status.videoMissedFrames}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1400,
        "y": 740,
        "wires": []
    },
    {
        "id": "bd86d3f89f512503",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "f5ce3dec0e842b22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play Track Through",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/play",
        "topicType": "str",
        "x": 410,
        "y": 1000,
        "wires": [
            [
                "93182330bc2996e1"
            ]
        ]
    },
    {
        "id": "44677c77b88fe780",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "f5ce3dec0e842b22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Play Track To End Of Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/playsection",
        "topicType": "str",
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "47b00345e6f6154b"
            ]
        ]
    },
    {
        "id": "9c9febe107c4484e",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "f5ce3dec0e842b22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Current Track",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/stop",
        "topicType": "str",
        "x": 370,
        "y": 1160,
        "wires": [
            [
                "0fd25bcb3e21ddc1"
            ]
        ]
    },
    {
        "id": "c5a04fb086d809ee",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "f5ce3dec0e842b22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fade Down",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/fadedown",
        "topicType": "str",
        "x": 390,
        "y": 1240,
        "wires": [
            [
                "83f4adaea62571b7"
            ]
        ]
    },
    {
        "id": "ec863d25e17065df",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "f5ce3dec0e842b22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fade Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/fadeup",
        "topicType": "str",
        "x": 400,
        "y": 1320,
        "wires": [
            [
                "add5a2827bc09e2f"
            ]
        ]
    },
    {
        "id": "150e9808dfee5593",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "f5ce3dec0e842b22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hold",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/hold",
        "topicType": "str",
        "x": 430,
        "y": 1400,
        "wires": [
            [
                "1b1b3d3e191fe297"
            ]
        ]
    },
    {
        "id": "26ea5554f9e358aa",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "f5ce3dec0e842b22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Next Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/nextsection",
        "topicType": "str",
        "x": 390,
        "y": 1500,
        "wires": [
            [
                "eba6a0bef5d89c01"
            ]
        ]
    },
    {
        "id": "871f35b58a0c1330",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "f5ce3dec0e842b22",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Previous Section",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/previoussection",
        "topicType": "str",
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "2e90d14257aa8a77"
            ]
        ]
    },
    {
        "id": "138b17eaaa624b2e",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "directorip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 820,
        "wires": [
            [
                "419fafa92f2c6bfa"
            ]
        ]
    },
    {
        "id": "d4045a629aca3bfa",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "port",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 860,
        "wires": []
    },
    {
        "id": "ae6a9ff8d95c9b11",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "ip",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 900,
        "wires": []
    },
    {
        "id": "6320e30248bf8367",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Set global.oscport",
        "rules": [
            {
                "t": "set",
                "p": "oscport",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "6838fd63b9fddfb5",
        "type": "ui_text_input",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "OSC Port",
        "tooltip": "",
        "group": "2ccb8f196a638030",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1600,
        "y": 920,
        "wires": [
            [
                "6320e30248bf8367"
            ]
        ]
    },
    {
        "id": "63b1617578f12b8e",
        "type": "ui_text_input",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Director IP",
        "tooltip": "",
        "group": "2ccb8f196a638030",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1610,
        "y": 860,
        "wires": [
            [
                "dcf04fd21fc37659"
            ]
        ]
    },
    {
        "id": "dcf04fd21fc37659",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Set global.directorip",
        "rules": [
            {
                "t": "set",
                "p": "directorip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "b65637238696bb5e",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Setup Input Text Boxes",
        "info": "",
        "x": 1700,
        "y": 800,
        "wires": []
    },
    {
        "id": "963d4173a25107ef",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "adc055bf5f74aeeb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/previoussection",
        "topicType": "str",
        "x": 140,
        "y": 1760,
        "wires": [
            [
                "88adaa6c399e2763"
            ]
        ]
    },
    {
        "id": "5d7aca26f2f0b0d0",
        "type": "ui_dropdown",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "RS Layers",
        "tooltip": "",
        "place": "Select option",
        "group": "adc055bf5f74aeeb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1570,
        "y": 1740,
        "wires": [
            [
                "e935c650a4e4bf2f"
            ]
        ]
    },
    {
        "id": "a3c3c76d05226960",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "Set Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.length; i++) {\n    annot.push({[msg.payload.result[i].name]: msg.payload.result[i].uid});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1740,
        "wires": [
            [
                "5d7aca26f2f0b0d0"
            ]
        ]
    },
    {
        "id": "e935c650a4e4bf2f",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "renderstreamuid",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1780,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "6ff28d1cb248232a",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "Layer Config",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1550,
        "y": 1980,
        "wires": []
    },
    {
        "id": "c3cf6a5b1881c6e7",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{   \"layers\": [     {       \"uid\": {{global.renderstreamuid}},       \"name\": \"\"     }   ] }",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 2260,
        "wires": [
            [
                "488cc20438e08058"
            ]
        ]
    },
    {
        "id": "8ee5b35eff0f6371",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "",
        "links": [
            "36acc43a382a4e35"
        ],
        "x": 355,
        "y": 400,
        "wires": [
            [
                "70a6148a34e43e1f"
            ]
        ]
    },
    {
        "id": "79092d435dbada6b",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 3",
        "links": [
            "36acc43a382a4e35"
        ],
        "x": 185,
        "y": 640,
        "wires": [
            [
                "ea8df2c1c6651715"
            ]
        ]
    },
    {
        "id": "49bf27d1ed962e0d",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 4",
        "links": [
            "36acc43a382a4e35"
        ],
        "x": 175,
        "y": 760,
        "wires": [
            [
                "83cb37caed450664"
            ]
        ]
    },
    {
        "id": "9c288d2744318e40",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 5",
        "links": [
            "36acc43a382a4e35"
        ],
        "x": 165,
        "y": 1660,
        "wires": [
            [
                "88adaa6c399e2763"
            ]
        ]
    },
    {
        "id": "d3b9247dfec036f5",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 6",
        "links": [
            "36acc43a382a4e35"
        ],
        "x": 165,
        "y": 1900,
        "wires": [
            [
                "1689c9f7ee89fa88"
            ]
        ]
    },
    {
        "id": "b831095439f58db2",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 7",
        "links": [
            "36acc43a382a4e35"
        ],
        "x": 215,
        "y": 2200,
        "wires": [
            [
                "ff9e051f89f28f0d"
            ]
        ]
    },
    {
        "id": "7065393206c3b040",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 8",
        "links": [
            "36acc43a382a4e35"
        ],
        "x": 255,
        "y": 2320,
        "wires": [
            [
                "b2018357fc5ffed6"
            ]
        ]
    },
    {
        "id": "5f0b79076abccc92",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 300,
        "wires": [
            [
                "70a6148a34e43e1f"
            ]
        ]
    },
    {
        "id": "4fd197dd5ec20d45",
        "type": "inject",
        "z": "54f84335718d5fde",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 410,
        "y": 120,
        "wires": [
            [
                "cb6dea68721bdb67"
            ]
        ]
    },
    {
        "id": "d33f8613d110149c",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "We're not running at the start",
        "info": "",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb6dea68721bdb67",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bbf07c8a453670ea",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 420,
        "wires": [
            [
                "a8473c7ba3660173"
            ]
        ]
    },
    {
        "id": "ea8df2c1c6651715",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 580,
        "wires": [
            [
                "7ebe1ad167c6ce01"
            ]
        ]
    },
    {
        "id": "83cb37caed450664",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 700,
        "wires": [
            [
                "0b7416d62144ca4e"
            ]
        ]
    },
    {
        "id": "0371990089503fbb",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 490,
        "y": 820,
        "wires": [
            [
                "138b17eaaa624b2e"
            ]
        ]
    },
    {
        "id": "e170e4b9705ef311",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 530,
        "y": 920,
        "wires": [
            [
                "18963156b49fa8bb"
            ]
        ]
    },
    {
        "id": "93182330bc2996e1",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1000,
        "wires": [
            [
                "388612ec7e82ba14"
            ]
        ]
    },
    {
        "id": "47b00345e6f6154b",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1080,
        "wires": [
            [
                "d8ce0289d3325282"
            ]
        ]
    },
    {
        "id": "0fd25bcb3e21ddc1",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1160,
        "wires": [
            [
                "3be72144d6241e99"
            ]
        ]
    },
    {
        "id": "83f4adaea62571b7",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1240,
        "wires": [
            [
                "b8c01d09ae509d8b"
            ]
        ]
    },
    {
        "id": "add5a2827bc09e2f",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1320,
        "wires": [
            [
                "20ae0808b379f1ad"
            ]
        ]
    },
    {
        "id": "1b1b3d3e191fe297",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 570,
        "y": 1400,
        "wires": [
            [
                "7a598991462bfb16"
            ]
        ]
    },
    {
        "id": "eba6a0bef5d89c01",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1500,
        "wires": [
            [
                "f787ddf7a2288bcc"
            ]
        ]
    },
    {
        "id": "2e90d14257aa8a77",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 1580,
        "wires": [
            [
                "55ef0e7620be2097"
            ]
        ]
    },
    {
        "id": "88adaa6c399e2763",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 1820,
        "wires": [
            [
                "23a2cb195e6908d9"
            ]
        ]
    },
    {
        "id": "1689c9f7ee89fa88",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 390,
        "y": 1920,
        "wires": [
            [
                "76ed73e794800e81"
            ]
        ]
    },
    {
        "id": "ff9e051f89f28f0d",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 2140,
        "wires": [
            [
                "508b85cdb3b93ec6"
            ]
        ]
    },
    {
        "id": "b2018357fc5ffed6",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 2260,
        "wires": [
            [
                "0a97f17ca38e66d7"
            ]
        ]
    },
    {
        "id": "795fdebb8e21b749",
        "type": "ui_switch",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Enable Disguise",
        "tooltip": "",
        "group": "b1d45df3ad4b893a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 960,
        "y": 100,
        "wires": [
            [
                "af382764c565c70f"
            ]
        ]
    },
    {
        "id": "af382764c565c70f",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1150,
        "y": 100,
        "wires": [
            [
                "de35706f7d6afb06",
                "50a5e195e008542f"
            ],
            [
                "8ee4fe918280eeb4",
                "2bb285a87d15abc0"
            ]
        ]
    },
    {
        "id": "de35706f7d6afb06",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 80,
        "wires": [
            [
                "8ca11d2da066e1e2"
            ]
        ]
    },
    {
        "id": "8ee4fe918280eeb4",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "disguiseRunning",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8f4250980c1ed3a2",
        "type": "inject",
        "z": "54f84335718d5fde",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 230,
        "y": 580,
        "wires": [
            [
                "ea8df2c1c6651715"
            ]
        ]
    },
    {
        "id": "58c69cca7fc1bc42",
        "type": "inject",
        "z": "54f84335718d5fde",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 230,
        "y": 700,
        "wires": [
            [
                "83cb37caed450664"
            ]
        ]
    },
    {
        "id": "8e59bbfc6a41c6a3",
        "type": "inject",
        "z": "54f84335718d5fde",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 150,
        "y": 1700,
        "wires": [
            [
                "88adaa6c399e2763"
            ]
        ]
    },
    {
        "id": "802aeb42cf610002",
        "type": "inject",
        "z": "54f84335718d5fde",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 150,
        "y": 1860,
        "wires": [
            [
                "1689c9f7ee89fa88"
            ]
        ]
    },
    {
        "id": "850ec47d06681faf",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "adc055bf5f74aeeb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Workload",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2120,
        "wires": [
            [
                "ff9e051f89f28f0d"
            ]
        ]
    },
    {
        "id": "3cf735c06bf9978d",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "adc055bf5f74aeeb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Stop Workload",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2260,
        "wires": [
            [
                "b2018357fc5ffed6"
            ]
        ]
    },
    {
        "id": "50a5e195e008542f",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 40,
        "wires": []
    },
    {
        "id": "2bb285a87d15abc0",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 180,
        "wires": []
    },
    {
        "id": "72e3de0ac465a6d8",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "adc055bf5f74aeeb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Name",
        "format": "{{msg.payload.result.asset.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 2020,
        "wires": []
    },
    {
        "id": "9df1501e492beb5b",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "adc055bf5f74aeeb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RX Node(s)",
        "format": "{{msg.payload.result.pool.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 2060,
        "wires": []
    },
    {
        "id": "c2965ba61f753c0d",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "adc055bf5f74aeeb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Asset Error",
        "format": "{{msg.payload.result.assetErrors[0]}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 1920,
        "wires": []
    },
    {
        "id": "3ed43c7a9982502a",
        "type": "ui_text",
        "z": "54f84335718d5fde",
        "group": "adc055bf5f74aeeb",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Workload Name",
        "format": "{{msg.payload.result.workload.name}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1560,
        "y": 1880,
        "wires": []
    },
    {
        "id": "082573caf33d095e",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "notetime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "54473aebe72fc374",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "d4d09e44e16e981c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jump To Note",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 2460,
        "wires": [
            [
                "98b0dacc999be076"
            ]
        ]
    },
    {
        "id": "98b0dacc999be076",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 350,
        "y": 2460,
        "wires": [
            [
                "0e5c37158d645d5d"
            ]
        ]
    },
    {
        "id": "0e5c37158d645d5d",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 520,
        "y": 2460,
        "wires": [
            [
                "a98255507511aa63"
            ]
        ]
    },
    {
        "id": "4d362cb2b9394b5e",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Jump To Note",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1200,
        "y": 2460,
        "wires": [
            [
                "f36f3c7c089b1da0"
            ]
        ]
    },
    {
        "id": "d0528ee4ae539a40",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/gototime",
        "output": "str",
        "x": 1000,
        "y": 2460,
        "wires": [
            [
                "4d362cb2b9394b5e"
            ]
        ]
    },
    {
        "id": "f36f3c7c089b1da0",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1370,
        "y": 2460,
        "wires": [
            [
                "165b7ad0feb8b772"
            ]
        ]
    },
    {
        "id": "165b7ad0feb8b772",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 2460,
        "wires": []
    },
    {
        "id": "b81121db3024a176",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 2200,
        "wires": []
    },
    {
        "id": "25774e44a8cc8e93",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1630,
        "y": 2140,
        "wires": [
            [
                "910c46f37c4e21bc"
            ]
        ]
    },
    {
        "id": "910c46f37c4e21bc",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1820,
        "y": 2140,
        "wires": []
    },
    {
        "id": "549b91f157a49e1c",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{   \"layers\": [     {       \"uid\": {{global.renderstreamuid}},       \"name\": \"\"     }   ] }",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 2140,
        "wires": [
            [
                "4fceed260da23912",
                "b81121db3024a176"
            ]
        ]
    },
    {
        "id": "a98255507511aa63",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "Set Up Payload",
        "func": "var noteTime = global.get(\"notetime\");\nnode.warn(\"jumping to time\" + noteTime);\nvar postValue = {\"transports\": [{\"time\":noteTime} ] };\nmsg.payload = postValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 2460,
        "wires": [
            [
                "db771e4bf6dd283c",
                "d0528ee4ae539a40"
            ]
        ]
    },
    {
        "id": "db771e4bf6dd283c",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 2520,
        "wires": []
    },
    {
        "id": "f2dae9a512df834f",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Jump to Note.",
        "info": "",
        "x": 810,
        "y": 2400,
        "wires": []
    },
    {
        "id": "8ca11d2da066e1e2",
        "type": "link out",
        "z": "54f84335718d5fde",
        "name": "refresh all",
        "mode": "link",
        "links": [
            "11fce52e250660f3",
            "01dc700bced56690"
        ],
        "x": 1625,
        "y": 80,
        "wires": []
    },
    {
        "id": "11fce52e250660f3",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 1",
        "links": [
            "8ca11d2da066e1e2"
        ],
        "x": 165,
        "y": 1620,
        "wires": [
            [
                "88adaa6c399e2763"
            ]
        ]
    },
    {
        "id": "e8326d30ee3b78d0",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "Set CUES Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.annotations.tags.length; i++) {\n    if (msg.payload.result.annotations.tags[i].type == \"CUE\") {\n        annot.push({[msg.payload.result.annotations.tags[i].value]: msg.payload.result.annotations.tags[i].time});\n    }\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2280,
        "y": 340,
        "wires": [
            [
                "ec53ac35f548d4ad"
            ]
        ]
    },
    {
        "id": "ec53ac35f548d4ad",
        "type": "ui_dropdown",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Cues",
        "tooltip": "",
        "place": "Select option",
        "group": "d4d09e44e16e981c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2530,
        "y": 340,
        "wires": [
            [
                "d89256352f009e75"
            ]
        ]
    },
    {
        "id": "d89256352f009e75",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cuetime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2710,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "9f3bb4722ebc5154",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "d4d09e44e16e981c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jump To Cue",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/cue",
        "topicType": "str",
        "x": 170,
        "y": 2580,
        "wires": [
            [
                "be58b4a50304cb43"
            ]
        ]
    },
    {
        "id": "be58b4a50304cb43",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 2580,
        "wires": [
            [
                "b929a89ff038f31e"
            ]
        ]
    },
    {
        "id": "b929a89ff038f31e",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 500,
        "y": 2580,
        "wires": [
            [
                "92273e30629e2539"
            ]
        ]
    },
    {
        "id": "92273e30629e2539",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "Set Up Payload",
        "func": "var cueTime = global.get(\"cuetime\");\nnode.warn(\"jumping to time\" + cueTime);\nvar postValue = {\"transports\": [{\"time\":cueTime} ] };\nmsg.payload = postValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 2580,
        "wires": [
            [
                "7c43e13ac67b159b",
                "68ed605db486932a"
            ]
        ]
    },
    {
        "id": "037f2dcf32c68835",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Jump To Cue",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1170,
        "y": 2580,
        "wires": [
            [
                "ade08d58803aae17"
            ]
        ]
    },
    {
        "id": "7c43e13ac67b159b",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/gototime",
        "output": "str",
        "x": 980,
        "y": 2580,
        "wires": [
            [
                "037f2dcf32c68835"
            ]
        ]
    },
    {
        "id": "ade08d58803aae17",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 2580,
        "wires": [
            [
                "88cb6e3a0c0dfbd4"
            ]
        ]
    },
    {
        "id": "88cb6e3a0c0dfbd4",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 2580,
        "wires": []
    },
    {
        "id": "68ed605db486932a",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2660,
        "wires": []
    },
    {
        "id": "049d423df967660a",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Jump to Cue.",
        "info": "",
        "x": 790,
        "y": 2520,
        "wires": []
    },
    {
        "id": "a578519e22d1b3cd",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "Set SECTIONS Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.annotations.sections.length; i++) {\n    annot.push({[msg.payload.result.annotations.sections[i].index]: msg.payload.result.annotations.sections[i].time});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2300,
        "y": 400,
        "wires": [
            [
                "52e694d27b19387f"
            ]
        ]
    },
    {
        "id": "52e694d27b19387f",
        "type": "ui_dropdown",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Sections",
        "tooltip": "",
        "place": "Select option",
        "group": "d4d09e44e16e981c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2560,
        "y": 400,
        "wires": [
            [
                "35cdd1aa8acc3bb6"
            ]
        ]
    },
    {
        "id": "35cdd1aa8acc3bb6",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "sectiontime",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2780,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c9176f0696dd7e08",
        "type": "switch",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "disguiseRunning",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 2720,
        "wires": [
            [
                "80b04a18f16c8097"
            ]
        ]
    },
    {
        "id": "80b04a18f16c8097",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "Get Director IP",
        "target": "get director ip",
        "outputs": 1,
        "x": 500,
        "y": 2720,
        "wires": [
            [
                "08c56bdbceabe4a2"
            ]
        ]
    },
    {
        "id": "08c56bdbceabe4a2",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "Set Up Payload",
        "func": "var sectionTime = global.get(\"sectiontime\");\nnode.warn(\"jumping to time\" + sectionTime);\nvar postValue = {\"transports\": [{\"time\":sectionTime} ] };\nmsg.payload = postValue;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 2720,
        "wires": [
            [
                "b91c91b679b4c8d8",
                "0892cb1634c5a2d0"
            ]
        ]
    },
    {
        "id": "72bcfbf8c56ac8fc",
        "type": "http request",
        "z": "54f84335718d5fde",
        "name": "Jump To Section",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "Content-Type",
                "valueType": "other",
                "valueValue": "application/json"
            }
        ],
        "x": 1180,
        "y": 2720,
        "wires": [
            [
                "8a997a2bb6fd914c"
            ]
        ]
    },
    {
        "id": "b91c91b679b4c8d8",
        "type": "template",
        "z": "54f84335718d5fde",
        "name": "",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://{{IP}}/api/session/transport/gototime",
        "output": "str",
        "x": 980,
        "y": 2720,
        "wires": [
            [
                "72bcfbf8c56ac8fc"
            ]
        ]
    },
    {
        "id": "8a997a2bb6fd914c",
        "type": "json",
        "z": "54f84335718d5fde",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1350,
        "y": 2720,
        "wires": [
            [
                "beba31bb90e36085"
            ]
        ]
    },
    {
        "id": "0892cb1634c5a2d0",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 2800,
        "wires": []
    },
    {
        "id": "8b2d270d11bd40ca",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "",
        "group": "d4d09e44e16e981c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Jump To Section By Index",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "/d3/showcontrol/cue",
        "topicType": "str",
        "x": 130,
        "y": 2720,
        "wires": [
            [
                "c9176f0696dd7e08"
            ]
        ]
    },
    {
        "id": "beba31bb90e36085",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 2720,
        "wires": []
    },
    {
        "id": "c0fb132bdfdd62bf",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Jump to Section.",
        "info": "",
        "x": 760,
        "y": 2660,
        "wires": []
    },
    {
        "id": "3a9f1021193d742e",
        "type": "ui_dropdown",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Track",
        "tooltip": "",
        "place": "Select option",
        "group": "b1d45df3ad4b893a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1650,
        "y": 300,
        "wires": [
            [
                "1b41fe95bf6bdb75"
            ]
        ]
    },
    {
        "id": "17032203259d6e1d",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "Set TRACKS Dropdown Menu Options",
        "func": "let annot = [];\nfor (var i = 0; i < msg.payload.result.length; i++) {\n    annot.push({[msg.payload.result[i].currentTrack.name]: msg.payload.result[i].currentTrack.uid});\n}\nmsg.options = annot;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 300,
        "wires": [
            [
                "3a9f1021193d742e"
            ]
        ]
    },
    {
        "id": "01dc700bced56690",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 9",
        "links": [
            "8ca11d2da066e1e2"
        ],
        "x": 325,
        "y": 360,
        "wires": [
            [
                "70a6148a34e43e1f"
            ]
        ]
    },
    {
        "id": "1b41fe95bf6bdb75",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "track",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1960,
        "y": 220,
        "wires": [
            [
                "9c0a7af355c747ae"
            ]
        ]
    },
    {
        "id": "9c0a7af355c747ae",
        "type": "link out",
        "z": "54f84335718d5fde",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "05a2c132b82bacd0"
        ],
        "x": 2145,
        "y": 220,
        "wires": []
    },
    {
        "id": "05a2c132b82bacd0",
        "type": "link in",
        "z": "54f84335718d5fde",
        "name": "link in 10",
        "links": [
            "9c0a7af355c747ae"
        ],
        "x": 745,
        "y": 420,
        "wires": [
            [
                "bbf07c8a453670ea"
            ]
        ]
    },
    {
        "id": "45c3dc93dda50481",
        "type": "ui_button",
        "z": "54f84335718d5fde",
        "name": "Refresh Tracks",
        "group": "b1d45df3ad4b893a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh Tracks",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 380,
        "wires": [
            [
                "5f0b79076abccc92"
            ]
        ]
    },
    {
        "id": "241abb13848f2a39",
        "type": "ui_colour_picker",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Left Emissive Textures Color",
        "group": "9f329ea1f2313637",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 3120,
        "y": 280,
        "wires": [
            [
                "20916d1c408b5a7b"
            ]
        ]
    },
    {
        "id": "20916d1c408b5a7b",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "RGB COLOR PARSE",
        "func": "const matches = msg.payload.match(/(\\d+), (\\d+), (\\d+)/);\nmsg.r = parseInt(matches[1], 10);\nmsg.g = parseInt(matches[2], 10);\nmsg.b = parseInt(matches[3], 10);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3420,
        "y": 280,
        "wires": [
            [
                "245912d4f5040e97"
            ]
        ]
    },
    {
        "id": "0450284397c38781",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 280,
        "wires": []
    },
    {
        "id": "5d4ec6879ac4dc9c",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 280,
        "wires": [
            [
                "0450284397c38781"
            ]
        ]
    },
    {
        "id": "1ecd5c80d68889eb",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh1R Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh1R",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 280,
        "wires": [
            [
                "ad194dfd45b043e2"
            ]
        ]
    },
    {
        "id": "ad194dfd45b043e2",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.r",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 280,
        "wires": [
            [
                "5d4ec6879ac4dc9c",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "4095cbb5a04eaf03",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh1G Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh1G",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 360,
        "wires": [
            [
                "d1ce43bd6ff17ab4"
            ]
        ]
    },
    {
        "id": "0ba6f7cf68bf5df3",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 360,
        "wires": []
    },
    {
        "id": "fccf71d7bb95d916",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 360,
        "wires": [
            [
                "0ba6f7cf68bf5df3"
            ]
        ]
    },
    {
        "id": "d1ce43bd6ff17ab4",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.g",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 360,
        "wires": [
            [
                "fccf71d7bb95d916",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "ad4a1c5cb9ebc256",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh1B Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh1B",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 440,
        "wires": [
            [
                "f69b7acf5e2c9807"
            ]
        ]
    },
    {
        "id": "889095d79137d972",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 440,
        "wires": []
    },
    {
        "id": "be487993c4084363",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 440,
        "wires": [
            [
                "889095d79137d972"
            ]
        ]
    },
    {
        "id": "f69b7acf5e2c9807",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.b",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 440,
        "wires": [
            [
                "be487993c4084363",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "993b9f4118b6ab30",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Emissive Texture Colors",
        "info": "",
        "x": 3860,
        "y": 200,
        "wires": []
    },
    {
        "id": "eb469379122c5b1f",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Set global.unrealoscport",
        "rules": [
            {
                "t": "set",
                "p": "unrealoscport",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "775619df9f5d02c3",
        "type": "ui_text_input",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Unreal OSC Port",
        "tooltip": "",
        "group": "d03090d4ded21a9c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1570,
        "y": 1040,
        "wires": [
            [
                "eb469379122c5b1f"
            ]
        ]
    },
    {
        "id": "3185490d661fc1ef",
        "type": "ui_text_input",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Unreal RX Node IP",
        "tooltip": "",
        "group": "d03090d4ded21a9c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 1590,
        "y": 980,
        "wires": [
            [
                "ebdef31236554681"
            ]
        ]
    },
    {
        "id": "ebdef31236554681",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Set global.rxnodeip",
        "rules": [
            {
                "t": "set",
                "p": "rxnodeip",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "7339753e337d61ef",
        "type": "reusable-in",
        "z": "54f84335718d5fde",
        "name": "Get Unreal OSC Info",
        "info": "describe your reusable flow here",
        "scope": "local",
        "x": 3360,
        "y": 140,
        "wires": [
            [
                "424b2d45bd508531"
            ]
        ]
    },
    {
        "id": "545cdc1a1aa85b28",
        "type": "reusable-out",
        "z": "54f84335718d5fde",
        "name": "reusable out",
        "position": 1,
        "x": 4090,
        "y": 140,
        "wires": []
    },
    {
        "id": "cbc257b40ff242ab",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "port",
                "pt": "msg",
                "to": "unrealoscport",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3890,
        "y": 140,
        "wires": [
            [
                "545cdc1a1aa85b28"
            ]
        ]
    },
    {
        "id": "424b2d45bd508531",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "rxnodeip",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3710,
        "y": 140,
        "wires": [
            [
                "cbc257b40ff242ab"
            ]
        ]
    },
    {
        "id": "27f5d35711206dcf",
        "type": "comment",
        "z": "54f84335718d5fde",
        "name": "Get OSC Info for Unreal",
        "info": "",
        "x": 3660,
        "y": 80,
        "wires": []
    },
    {
        "id": "245912d4f5040e97",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "",
        "target": "get unreal osc info",
        "outputs": 1,
        "x": 3660,
        "y": 280,
        "wires": [
            [
                "1ecd5c80d68889eb",
                "4095cbb5a04eaf03",
                "ad4a1c5cb9ebc256"
            ]
        ]
    },
    {
        "id": "deb5a9ae10f47934",
        "type": "ui_colour_picker",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Right Emissive Textures Color",
        "group": "9f329ea1f2313637",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 3090,
        "y": 540,
        "wires": [
            [
                "cede158ba161e348"
            ]
        ]
    },
    {
        "id": "cede158ba161e348",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "RGB COLOR PARSE",
        "func": "const matches = msg.payload.match(/(\\d+), (\\d+), (\\d+)/);\nmsg.r = parseInt(matches[1], 10);\nmsg.g = parseInt(matches[2], 10);\nmsg.b = parseInt(matches[3], 10);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3420,
        "y": 540,
        "wires": [
            [
                "7bb4a6a9df17ae93"
            ]
        ]
    },
    {
        "id": "da08b838b6c402a5",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 540,
        "wires": []
    },
    {
        "id": "3428e331b148c8f1",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 540,
        "wires": [
            [
                "da08b838b6c402a5"
            ]
        ]
    },
    {
        "id": "b67f434b62db2c19",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh2R Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh2R",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 540,
        "wires": [
            [
                "083dd4d963f63d2e"
            ]
        ]
    },
    {
        "id": "083dd4d963f63d2e",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.r",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 540,
        "wires": [
            [
                "3428e331b148c8f1",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "a17da0e85517043a",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh2G Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh2G",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 620,
        "wires": [
            [
                "ef5002cf04d0a283"
            ]
        ]
    },
    {
        "id": "43730a38809da666",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 620,
        "wires": []
    },
    {
        "id": "92173739622ef995",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 620,
        "wires": [
            [
                "43730a38809da666"
            ]
        ]
    },
    {
        "id": "ef5002cf04d0a283",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.g",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 620,
        "wires": [
            [
                "92173739622ef995",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "9dcb8cea6d7fda01",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh2B Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh2B",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 700,
        "wires": [
            [
                "9c93ab9963390c43"
            ]
        ]
    },
    {
        "id": "d1dde53ca058fe65",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 700,
        "wires": []
    },
    {
        "id": "4c848c91370eae23",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 700,
        "wires": [
            [
                "d1dde53ca058fe65"
            ]
        ]
    },
    {
        "id": "9c93ab9963390c43",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.b",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 700,
        "wires": [
            [
                "4c848c91370eae23",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "7bb4a6a9df17ae93",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "",
        "target": "get unreal osc info",
        "outputs": 1,
        "x": 3660,
        "y": 540,
        "wires": [
            [
                "b67f434b62db2c19",
                "a17da0e85517043a",
                "9dcb8cea6d7fda01"
            ]
        ]
    },
    {
        "id": "2f96da5d344f382e",
        "type": "ui_colour_picker",
        "z": "54f84335718d5fde",
        "name": "",
        "label": "Central Emissive Textures Color",
        "group": "9f329ea1f2313637",
        "format": "rgb",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": false,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 3090,
        "y": 780,
        "wires": [
            [
                "5c8ca7f74ab3b3de"
            ]
        ]
    },
    {
        "id": "5c8ca7f74ab3b3de",
        "type": "function",
        "z": "54f84335718d5fde",
        "name": "RGB COLOR PARSE",
        "func": "const matches = msg.payload.match(/(\\d+), (\\d+), (\\d+)/);\nmsg.r = parseInt(matches[1], 10);\nmsg.g = parseInt(matches[2], 10);\nmsg.b = parseInt(matches[3], 10);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3420,
        "y": 780,
        "wires": [
            [
                "97da59ce7c4ac77f"
            ]
        ]
    },
    {
        "id": "5433a330ce8523bc",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 780,
        "wires": []
    },
    {
        "id": "7eda7476d81890f1",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 780,
        "wires": [
            [
                "5433a330ce8523bc"
            ]
        ]
    },
    {
        "id": "2fea79015b916a09",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh3R Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh3R",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 780,
        "wires": [
            [
                "293497cc14f95e83"
            ]
        ]
    },
    {
        "id": "293497cc14f95e83",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.r",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "r",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 780,
        "wires": [
            [
                "7eda7476d81890f1",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "90ac0b61d2191d40",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh3G Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh3G",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 860,
        "wires": [
            [
                "bbda0e0b0201cb6d"
            ]
        ]
    },
    {
        "id": "a18dfeef0093e58b",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 860,
        "wires": []
    },
    {
        "id": "dcb1ed5359c7a2a7",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 860,
        "wires": [
            [
                "a18dfeef0093e58b"
            ]
        ]
    },
    {
        "id": "bbda0e0b0201cb6d",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.g",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "g",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 860,
        "wires": [
            [
                "dcb1ed5359c7a2a7",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "e0a28bd1e30e7a5a",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "Mesh3B Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "/Mesh3B",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3900,
        "y": 940,
        "wires": [
            [
                "5c9c36b09c511db6"
            ]
        ]
    },
    {
        "id": "e732e28c7282b049",
        "type": "udp out",
        "z": "54f84335718d5fde",
        "name": "",
        "addr": "",
        "iface": "",
        "port": "",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 4470,
        "y": 940,
        "wires": []
    },
    {
        "id": "95aa1fa8aef8061b",
        "type": "osc",
        "z": "54f84335718d5fde",
        "name": "",
        "path": "",
        "metadata": false,
        "x": 4330,
        "y": 940,
        "wires": [
            [
                "e732e28c7282b049"
            ]
        ]
    },
    {
        "id": "5c9c36b09c511db6",
        "type": "change",
        "z": "54f84335718d5fde",
        "name": "msg.b",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "b",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4090,
        "y": 940,
        "wires": [
            [
                "95aa1fa8aef8061b",
                "49d3f2b39e40d4cc"
            ]
        ]
    },
    {
        "id": "97da59ce7c4ac77f",
        "type": "reusable",
        "z": "54f84335718d5fde",
        "name": "",
        "target": "get unreal osc info",
        "outputs": 1,
        "x": 3660,
        "y": 780,
        "wires": [
            [
                "2fea79015b916a09",
                "90ac0b61d2191d40",
                "e0a28bd1e30e7a5a"
            ]
        ]
    },
    {
        "id": "49d3f2b39e40d4cc",
        "type": "debug",
        "z": "54f84335718d5fde",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 4800,
        "y": 580,
        "wires": []
    },
    {
        "id": "d4d09e44e16e981c",
        "type": "ui_group",
        "name": "Cues/Sections",
        "tab": "15612c6216344999",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1d45df3ad4b893a",
        "type": "ui_group",
        "name": "General",
        "tab": "15612c6216344999",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "32b42920a7ab347e",
        "type": "ui_group",
        "name": "Health",
        "tab": "15612c6216344999",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5ce3dec0e842b22",
        "type": "ui_group",
        "name": "Show Control",
        "tab": "15612c6216344999",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2ccb8f196a638030",
        "type": "ui_group",
        "name": "Setup",
        "tab": "15612c6216344999",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "adc055bf5f74aeeb",
        "type": "ui_group",
        "name": "RenderStream",
        "tab": "15612c6216344999",
        "order": 6,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f329ea1f2313637",
        "type": "ui_group",
        "name": "Scene Control",
        "tab": "15612c6216344999",
        "order": 7,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d03090d4ded21a9c",
        "type": "ui_group",
        "name": "Unreal Setup",
        "tab": "15612c6216344999",
        "order": 8,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "15612c6216344999",
        "type": "ui_tab",
        "name": "Disguise",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
